{% extends "base_project.html" %}
{% load humanize static hc_extras %}

{% block title %}{% site_name %} Slack 集成{% endblock %}

{% block description %}
    <meta name="description" content="将 {% site_name %} 与 Slack 配合使用：配置 {% site_name %} 将状态更新直接发布到 Slack 频道。">
{% endblock %}

{% block content %}
<div class="row">
<div class="col-sm-12">

    <div class="jumbotron">
        {% if request.user.is_authenticated %}
        <p>如果您的团队使用 <a href="https://slack.com/">Slack</a>，您可以设置
        {% site_name %} 将状态更新直接发布到合适的 Slack 频道。</p>

        {% if authorize_url %}
        <div class="text-center">
        <a href="{{ authorize_url }}">
            <img
                alt="Add to Slack"
                src="{% static 'img/add_to_slack.png' %}"
                srcset="{% static 'img/add_to_slack.png' %} 1x, {% static 'img/add_to_slack@2x.png' %} 2x" />
        </a>
        </div>
        {% endif %}

        {% else %}
        <p>
        {% site_name %} 是一款<strong>免费</strong>且
        <a href="https://github.com/healthchecks/healthchecks">开源</a>的
        服务，用于监控您的 cron 作业、后台进程和
        计划任务。要设置 {% site_name %} 的 Slack 集成，请
        登录 {% site_name %}：</p>

        <div class="text-center">
            <a href="{% url 'hc-login' %}"
               class="btn btn-primary btn-lg">Log In</a>
        </div>
        {% endif %}
    </div>

    <h2>设置指南</h2>

    {% if not authorize_url %}
    <div class="row ai-step">
        <div class="col-sm-6">
            <span class="step-no"></span>
            <p>
                {% if request.user.is_authenticated %}
                前往
                {% else %}
                登录后，前往
                {% endif %}

                 <strong>集成</strong>页面，
                点击 Slack 图标旁的 <strong>添加集成</strong>。
            </p>
        </div>
        <div class="col-sm-6">
            <img
                class="ai-guide-screenshot"
                alt="截图"
                src="{% static 'img/setup_slack_btn_0.png' %}">
        </div>
    </div>
    {% endif %}

    <div class="row ai-step">
        <div class="col-sm-6">
            <span class="step-no"></span>
            <p>
                点击"添加到 Slack"按钮，您将
                进入一个显示"{% site_name %} 想要访问
                您的 Slack 团队"的页面。选择您想要添加
                {% site_name %} 集成应用的团队。
            </p>
        </div>
        <div class="col-sm-6">
            <img
                class="ai-guide-screenshot"
                alt="截图"
                src="{% static 'img/setup_slack_btn_1.png' %}">
        </div>
    </div>

    <div class="row ai-step">
        <div class="col-sm-6">
            <span class="step-no"></span>
            <p>
                您现在应该在一个显示"{% site_name %} 想要
                访问 <i>团队名称</i>"的页面上。选择您想要
                发布 {% site_name %} 通知的频道。
            </p>
        </div>
        <div class="col-sm-6">
            <img
                class="ai-guide-screenshot"
                alt="截图"
                src="{% static 'img/setup_slack_btn_2.png' %}">
        </div>
    </div>

    <div class="row ai-step">
        <div class="col-sm-6">
            <span class="step-no"></span>
            <p>
                大功告成！您将被重定向回
                {% site_name %} 的"集成"页面，
                并看到新的集成！
            </p>
        </div>
        <div class="col-sm-6">
            <img
                class="ai-guide-screenshot"
                alt="截图"
                src="{% static 'img/setup_slack_btn_3.png' %}">
        </div>
    </div>

</div>
</div>
{% endblock %}
