{% extends "base_project.html" %}
{% load compress humanize static hc_extras %}

{% block title %}添加 Shell 命令 - {{ site_name }}{% endblock %}


{% block content %}
<div class="row">
    <div class="col-sm-12">
        <h1>Shell Command</h1>

        <p>在检查项恢复或宕机时执行本地 Shell 命令。</p>

        <p>
            您可以使用占位符 <strong>$NAME</strong>、<strong>$STATUS</strong>
            等
            <a href="#" data-toggle="modal" data-target="#reference-modal">（快速参考）</a>。
        </p>
        <br />

        <form id="add-shell-form" method="post">
        {% csrf_token %}

        <div class="row">
        <div class="col-sm-6">
            <div class="form-group {{ form.cmd_down.css_classes }}">
                <label class="control-label">检查项<span class="label-down">宕机</span>时执行</label>
                <textarea
                    class="form-control"
                    rows="3"
                    name="cmd_down"
                    placeholder='/home/user/notify.sh "$NAME has gone down"'>{{ form.cmd_down.value|default:"" }}</textarea>
                {% if form.cmd_down.errors %}
                <div class="help-block">
                    {{ form.cmd_down.errors|join:"" }}
                </div>
                {% endif %}
            </div>
        </div>

        <div class="col-sm-6">
            <div class="form-group {{ form.cmd_up.css_classes }}">
                <label class="control-label">检查项<span class="label-up">恢复</span>时执行</label>
                <textarea
                    class="form-control"
                    rows="3"
                    name="cmd_up"
                    placeholder='/home/user/notify.sh "$NAME is back up"'>{{ form.cmd_up.value|default:"" }}</textarea>
                {% if form.cmd_up.errors %}
                <div class="help-block">
                    {{ form.cmd_up.errors|join:"" }}
                </div>
                {% endif %}
            </div>
        </div>
        </div>

        <br>
        <br>
        <div class="form-group text-right">
                    <button type="submit" class="btn btn-primary">保存集成</button>
        </div>
        </form>

    </div>
</div>

<div id="reference-modal" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4>支持的占位符</h4>
            </div>
            <div class="modal-body">
                <p>
                    您可以在命令中使用以下占位符。
                    {{ site_name }} 会将占位符替换为正确的值。
                </p>

                <table id="webhook-variables" class="table modal-body">
                    <tr>
                        <th><code>$CODE</code></th>
                        <td>检查项的 UUID 代码</td>
                    </tr>
                    <tr>
                        <th><code>$NAME</code></th>
                        <td>检查项的名称</td>
                    </tr>
                    <tr>
                        <th><code>$NOW</code></th>
                        <td>
                            当前 UTC 时间，ISO8601 格式。<br />
                            示例："{% now_isoformat %}"
                        </td>
                    </tr>
                    <tr>
                        <th><code>$STATUS</code></th>
                        <td>检查项的当前状态（"up" 或 "down"）</td>
                    </tr>
                    <tr>
                        <th><code>$TAGS</code></th>
                        <td>检查项的标签，以空格分隔</td>
                    </tr>
                    <tr>
                        <th><code>$TAG1, $TAG2, …</code></th>
                        <td>第一个标签的值、第二个标签的值……</td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">知道了！</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}