{% extends "base.html" %}
{% load compress static hc_extras %}

{% block content %}

<div class="row">
<form
    id="add-credential-form"
    class="col-sm-6 col-sm-offset-3"
    method="post"
    encrypt="multipart/form-data">
    <h1>添加安全密钥</h1>

    {% csrf_token %}
    <input id="response" type="hidden" name="response">

    <div class="form-group">
        <label for="name">名称</label>
        <input
            type="text"
            class="form-control"
            id="name"
            name="name"
            required>
        <div class="help-block">
            为此凭证输入一个描述性名称。例如："我的主Yubikey"
        </div>
    </div>

    <div class="form-group text-right">
        <button
            id="name-next"
            class="btn btn-default" type="button">
            确认名称并继续
        </button>
    </div>

    <div id="waiting" class="hide">
        <h2>等待安全密钥</h2>
        <p>
            按照浏览器的指引向 {% site_name %} 注册您的安全密钥。
        </p>

        <div class="spinner started"></div>
    </div>

    <div id="error" class="alert alert-danger hide">
        <p>
            <strong>出了点问题。</strong>
        </p>
        <p id="error-text"></p>

        <div class="text-right">
            <button id="retry" type="button" class="btn btn-danger">
                重试
            </button>
        </div>
    </div>

    <div id="success" class="hide">
        <div class="alert alert-success">
            <strong>成功！</strong>
            凭证已获取。
        </div>

        <div class="form-group text-right">
            <input
                id="add-credential-submit"
                class="btn btn-primary"
                type="submit"
                name=""
                value="保存安全密钥">
        </div>
    </div>
</form>
</div>

{{ options|json_script:"options" }}

{% endblock %}

{% block scripts %}
{% compress js %}
<script src="{% static 'js/webauthn-json.browser-global.js' %}"></script>
<script src="{% static 'js/add_credential.js' %}"></script>
{% endcompress %}
{% endblock %}
