{% extends "base.html" %}
{% load compress static hc_extras %}

{% block content %}

<div class="row">
<form class="col-sm-6 col-sm-offset-3" method="post">
    <h1>设置身份验证器应用</h1>

    <p>{% site_name %} 支持基于时间的一次性密码（TOTP）作为
        第二重身份验证。要使用此方法，您需要在手机上
        安装一个身份验证器应用。
    </p>

    {% csrf_token %}
    <div class="spacer"></div>
    <p class="add-totp-step">
        <strong>步骤 1.</strong>
        使用您的身份验证器应用扫描下方的二维码，或
        手动输入密钥。
    </p>

    <p>密钥：<code class="totp-secret">{{ secret }}</code></p>
    <img src="{{ qr_data_uri }}" />

    <p class="add-totp-step">
        <strong>步骤 2.</strong>
        在下方输入您身份验证器应用中的六位数字验证码。
    </p>

    <div class="form-group {{ form.code.css_classes }}">
        <input
            type="text"
            name="code"
            pattern="[0-9]{6}"
            title="六位数字验证码"
            placeholder="6位数字"
            class="form-control input-lg" />
        {% if form.code.errors %}
        <div class="help-block">
            {{ form.code.errors|join:"" }}
        </div>
        {% endif %}
    </div>

    <div class="form-group text-right">
        <input
            class="btn btn-primary"
            type="submit"
            name=""
            value="继续">
    </div>
</form>
</div>
{% endblock %}
