{% extends "base.html" %}
{% load hc_extras %}

{% block content %}
<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <div class="hc-dialog">
            <h1>修改账户邮箱地址</h1>
            <div class="dialog-body">
                <p>
                    您的账户邮箱地址用于发送
                    登录链接和月度报告。

                    <strong>
                        请确保您能接收新地址的邮件。
                    </strong>

                    否则，您可能会被锁定在
                    您的 {{ site_name }} 账户之外。
                </p>

                {% if request.user.credentials.exists or request.profile.totp %}
                <p class="alert alert-warning">
                    <strong>双重身份验证已启用。</strong>
                    如果您要将此账户交给他人，
                    请考虑先禁用双重身份验证。
                </p>
                {% endif %}
            </div>

            <form method="post">
                {% csrf_token %}

                <div class="form-group">
                    <label class="control-label">当前邮箱</label>
                    <input
                        type="text"
                        class="form-control input-lg"
                        disabled
                        value="{{ request.user.email }}">
                </div>

                <div class="form-group {{ form.email.css_classes }}">
                    <label for="ce-email" class="control-label">新邮箱</label>
                    <input
                        type="email"
                        class="form-control input-lg"
                        id="ce-email"
                        name="email"
                        placeholder="you@example.org">
                        {% if form.email.errors %}
                        <div class="help-block">
                            {{ form.email.errors|join:"" }}
                        </div>
                        {% endif %}

                </div>

                <div class="clearfix">
                    <button type="submit" class="btn btn-lg btn-primary pull-right">
                        修改邮箱
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
