{% extends "base.html" %}
{% load compress static hc_extras %}

{% block content %}

<div class="row">
<form
    id="login-tfa-form"
    class="col-sm-6 col-sm-offset-3"
    method="post"
    encrypt="multipart/form-data">
    <h1>双重身份验证</h1>

    {% if totp_url %}
    <div id="pick-method">
        <p>请选择身份验证方式。</p>
        <button
            id="use-key-btn"
            type="button"
            class="btn btn-primary">使用安全密钥</button>
        <a href="{{ totp_url }}" class="btn btn-default">
            使用身份验证器应用
        </a>
    </div>
    {% endif %}

    {% csrf_token %}
    <input id="response" type="hidden" name="response">

    <div id="waiting" {% if totp_url %}class="hide"{% endif %}>
        <h2>等待安全密钥</h2>
        <p>
            按照浏览器的步骤使用您的安全密钥进行身份验证。
        </p>

        <div class="spinner started"></div>
    </div>

    <div id="error" class="alert alert-danger hide">
        <p>
            <strong>出了点问题。</strong>
        </p>
        <p id="error-text"></p>

        <div class="text-right">
            <button id="retry" type="button" class="btn btn-danger">
                重试
            </button>
        </div>
    </div>

    <div id="success" class="hide">
        <div class="alert alert-success">
            <strong>成功！</strong>
            凭证已获取。
        </div>
    </div>
</form>
</div>

{{ options|json_script:"options" }}

{% endblock %}

{% block scripts %}
{% compress js %}
<script src="{% static 'js/webauthn-json.browser-global.js' %}"></script>
<script src="{% static 'js/login_tfa.js' %}"></script>
{% endcompress %}
{% endblock %}
