{% extends "base.html" %}
{% load compress hc_extras static tz %}

{% block title %}账户设置 - {{ site_name }}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-12">
        <h1 class="settings-title">
            设置
            <small>{{ request.user.email }}</small>
        </h1>
    </div>
</div>

<div class="row">
    <div class="col-sm-3">
        <ul class="nav nav-pills nav-stacked">
            <li><a href="{% url 'hc-profile' %}">账户</a></li>
            <li><a href="{% url 'hc-appearance' %}">外观</a></li>
            {% if show_pricing %}
            <li><a href="{% url 'hc-billing' %}">账单</a></li>
            {% endif %}
            <li class="active"><a href="{% url 'hc-notifications' %}">邮件报告</a></li>
        </ul>
    </div>

    <div class="col-sm-9 col-md-6">
        <div class="panel panel-{{ status }}">
            <div id="email-reports" class="panel-body settings-block">
                <form method="post">
                    {% csrf_token %}
                    <h2>邮件报告</h2>

                    <p>定期邮件报告：</p>
                    <label class="radio-container">
                        <input
                            type="radio"
                            name="reports"
                            value="off"
                            {% if profile.reports == "off" %} checked {% endif %}>
                        <span class="radiomark"></span>
                        关闭
                    </label>
                    <label class="radio-container">
                        <input
                            type="radio"
                            name="reports"
                            value="daily"
                            {% if profile.reports == "daily" %} checked {% endif %}>
                        <span class="radiomark"></span>
                        <strong>每日</strong> 9:00-11:00 之间
                    </label>
                    <label class="radio-container">
                        <input
                            type="radio"
                            name="reports"
                            value="weekly"
                            {% if profile.reports == "weekly" %} checked {% endif %}>
                        <span class="radiomark"></span>
                        <strong>每周</strong> 星期一
                    </label>
                    <label class="radio-container">
                        <input
                            type="radio"
                            name="reports"
                            value="monthly"
                            {% if profile.reports == "monthly" %} checked {% endif %}>
                        <span class="radiomark"></span>
                        <strong>每月</strong> 1 号
                    </label>

                    <br>
                    <p>如果监控点出现故障时的持续提醒：</p>

                    <label class="radio-container">
                        <input
                            type="radio"
                            name="nag_period"
                            value="0"
                            {% if profile.nag_period.total_seconds == 0 %} checked {% endif %}>
                        <span class="radiomark"></span>
                        不提醒
                    </label>
                    <label class="radio-container">
                        <input
                            type="radio"
                            name="nag_period"
                            value="86400"
                            {% if profile.nag_period.total_seconds == 86400 %} checked {% endif %}>
                        <span class="radiomark"></span>
                        <strong>每日</strong>提醒我
                    </label>
                    <label class="radio-container">
                        <input
                            type="radio"
                            name="nag_period"
                            value="3600"
                            {% if profile.nag_period.total_seconds == 3600 %} checked {% endif %}>
                        <span class="radiomark"></span>
                        <strong>每小时</strong>提醒我
                    </label>

                    <br />
                    <p class="text-muted">
                        {% site_name %} 将向
                        <strong>{{ profile.user.email }}</strong>
                        发送报告和持续提醒。
                        {% if profile.next_report_date %}
                            {% timezone profile.tz %}
                                <br />
                                下次 {{ profile.reports }} 报告日期是
                                {{ profile.next_report_date|date:"F j, Y" }}。
                            {% endtimezone 0%}
                        {% endif %}
                    </p>
                    <br />
                    <button
                        type="submit"
                        class="btn btn-default pull-right">保存更改</button>
                </form>
            </div>
            {% if status == "info" %}
            <div class="panel-footer">
                您的设置已更新！
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
