{% extends "base.html" %}
{% load compress static hc_extras %}

{% block title %}账户设置 - {{ site_name }}{% endblock %}


{% block content %}
<div class="row">
    <div class="col-sm-12">
        <h1 class="settings-title">
            设置
            <small>{{ request.user.email }}</small>
        </h1>
    </div>
    {% if messages %}
    <div class="col-sm-12">
        {% for message in messages %}
            <p class="alert alert-{{ message.tags }}">{{ message }}</p>
        {% endfor %}
    </div>
    {% endif %}
</div>

<div class="row">
    <div class="col-sm-3">
        <ul class="nav nav-pills nav-stacked">
            <li class="active"><a href="{% url 'hc-profile' %}">账户</a></li>
            <li><a href="{% url 'hc-appearance' %}">外观</a></li>
            {% if show_pricing %}
            <li><a href="{% url 'hc-billing' %}">账单</a></li>
            {% endif %}
            <li><a href="{% url 'hc-notifications' %}">邮件报告</a></li>
        </ul>
    </div>

    <div class="col-sm-9 col-md-6">
        <div class="panel panel-{{ email_password_status|default:'default' }}">
            <div class="panel-body settings-block">
                <form method="post">
                    {% csrf_token %}
                    <h2>邮箱与密码</h2>
                    <p class="settings-bar">
                        您账户的邮箱地址是
                        <code>{{ request.user.email }}</code>

                        <a
                            href="{% url 'hc-change-email' %}"
                            class="btn btn-default pull-right">修改邮箱</a>
                    </p>
                    <p class="clearfix"></p>
                    {% if request.user.has_usable_password %}
                    <p class="settings-bar">
                        密码认证已启用。
                        <a
                            href="{% url 'hc-set-password' %}"
                            class="btn btn-default pull-right">修改密码</a>
                    </p>
                    {% else %}
                    <p class="settings-bar">
                        为您的 {{ site_name }} 账户设置密码。
                        <a
                            href="{% url 'hc-set-password' %}"
                            class="btn btn-default pull-right">设置密码</a>
                    </p>
                    {% endif %}
                </form>
            </div>
            {% if changed_password %}
            <div class="panel-footer">
                您的新密码已设置成功！
            </div>
            {% endif %}
        </div>

        <div class="panel panel-{{ 2fa_status }}">
            <div class="panel-body settings-block">
                <form method="post">
                    {% csrf_token %}
                    <h2>双重身份验证</h2>

                    <table id="my-keys" class="table">
                        {% if use_webauthn %}
                        <tr>
                            <th>安全密钥</th>
                            <th></th>
                        </tr>
                        {% for credential in credentials %}
                        <tr>
                            <td>
                                {{ credential.name|default:"unnamed" }}
                                <span class="text-muted">
                                    – 注册于 {{ credential.created|date:"M j, Y" }}
                                </span>
                            </td>
                            <td class="text-right">
                                <a href="{% url 'hc-remove-credential' credential.code  %}">移除</a>
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td class="missing" colspan="2">未注册安全密钥</td>
                        </tr>
                        {% endfor %}
                        {% endif %}

                        <tr>
                            <th>身份验证器应用</th>
                            <th></th>
                        </tr>
                        {% if profile.totp %}
                        <tr>
                            <td>
                                已启用
                                <span class="text-muted">
                                – 配置于 {{ profile.totp_created|date:"M j, Y" }}
                                </span>
                            </td>
                            <td class="text-right">
                                <a href="{% url 'hc-remove-totp' %}">移除</a>
                            </td>
                        </tr>
                        {% else %}
                        <tr>
                            <td class="missing" colspan="2">未配置</td>
                        </tr>
                        {% endif %}
                    </table>

                    {% if credentials|length == 1 and not profile.totp %}
                    <div class="alert alert-warning">
                        <p>
                        <strong>密钥"{% for c in credentials%}{{ c.name }}{% endfor %}"目前是您唯一的第二重身份验证。</strong>
                        如果您丢失此密钥或它停止工作，您将失去
                        对 {% site_name %} 账户的访问权限。
                        </p>
                        <p>
                        注册第二个安全密钥，用作
                        备份的第二重身份验证。
                        </p>
                    </div>
                    {% endif %}

                    {% if not credentials and profile.totp %}
                    <div class="alert alert-warning">
                        <p>
                        <strong>身份验证器应用目前是您唯一的第二重身份验证。</strong>
                        如果您无法访问它，您将失去对
                        {% site_name %} 账户的访问权限。
                        </p>
                        <p>
                        请确保您备份了身份验证器应用的 TOTP
                        种子{% if use_webauthn %}，或注册一个安全密钥作为备份的第二重身份验证{% endif %}。
                        </p>
                    </div>
                    {% endif %}

                    {% if not credentials and not profile.totp %}
                    <p class="alert alert-info">
                    双重身份验证当前<strong>未启用</strong>。
                    您的账户未配置任何双重身份验证方法。
                    </p>
                    {% endif %}

                    <div class="pull-right">
                        {% if not profile.totp %}
                        <a
                            href="{% url 'hc-add-totp' %}"
                            class="btn btn-default">
                            设置身份验证器应用
                        </a>
                        {% endif %}
                        {% if use_webauthn %}
                        <a
                            href="{% url 'hc-add-webauthn' %}"
                            class="btn btn-default">
                            添加安全密钥
                        </a>
                        {% endif %}
                    </div>
                </form>
            </div>

            {% if added_credential_name %}
            <div class="panel-footer">
                已添加安全密钥 <strong>{{ added_credential_name }}</strong>。
            </div>
            {% endif %}

            {% if removed_credential_name %}
            <div class="panel-footer">
                已移除安全密钥 <strong>{{ removed_credential_name }}</strong>。
            </div>
            {% endif %}

            {% if enabled_totp %}
            <div class="panel-footer">
                成功设置身份验证器应用。
            </div>
            {% endif %}

            {% if disabled_totp %}
            <div class="panel-footer">
                已禁用身份验证器应用。
            </div>
            {% endif %}
        </div>

        <div class="panel panel-{{ my_projects_status }}">
            <div class="panel-body settings-block">
                    {% csrf_token %}
                    <h2>我的项目</h2>

                    {% if ownerships or memberships %}
                    <table id="my-projects" class="table">
                        <tr>
                            <th>项目</th>
                            <th>我的角色</th>
                            <th></th>
                        </tr>
                        {% for project in ownerships %}
                        <tr>
                            <td>
                                <div class="name">
                                    <a href="{% url 'hc-checks' project.code %}">
                                        {{ project }}
                                    </a>
                                </div>
                            </td>
                            <td>所有者</td>
                            <td>
                                <a
                                    href="{% url 'hc-project-settings' project.code %}"
                                        class="pull-right">设置</a>
                            </td>
                        </tr>
                        {% endfor %}

                        {% for m in memberships %}
                        <tr>
                            <td>
                                <div class="name">
                                    <a href="{% url 'hc-checks' m.project.code %}">
                                        {{ m.project }}
                                    </a>
                                </div>
                            </td>
                            <td>{{ m.get_role_display }}</td>
                            <td>
                                <a
                                    href="#"
                                    data-name="{{ m.project }}"
                                    data-code="{{ m.project.code }}"
                                    class="pull-right leave-project">离开</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                    {% else %}
                        <p>您还没有任何项目。创建一个！</p>
                    {% endif %}

                    <a
                        id="create-project"
                        href="#"
                        class="btn btn-default pull-right"
                        data-toggle="modal"
                        data-target="#add-project-modal">创建新项目</a>
            </div>

            {% if left_project %}
            <div class="panel-footer">
                已离开项目 <strong>{{ left_project }}</strong>。
            </div>
            {% endif %}
        </div>

        <div class="panel panel-{{ tz_status }}">
            <div id="tz-settings" class="panel-body settings-block">
                <form method="post">
                    {% csrf_token %}
                    <h2>首选时区</h2>
                    <select id="tz" name="tz" class="form-control" value="{{ profile.tz }}">
                        <option{% if profile.tz == "UTC" %} selected{% endif %}>UTC</option>
                        {% for tz in timezones %}
                        {% if tz != "UTC" %}
                        <option{% if profile.tz == tz %} selected{% endif %}>{{ tz }}</option>
                        {% endif %}
                        {% endfor %}
                    </select>

                    <br />
                    <p id="browser-tz-hint" class="hide">
                        提示：您浏览器的时区是 <b>FIXME</b>。
                        <a href="#">使用它吗？</a>
                    </p>

                    <p>{% site_name %} 将使用您的首选时区来：</p>
                    <ul>
                        <li>在网页界面中格式化日期和时间。</li>
                        <li>在监控警报中格式化日期和时间。</li>
                        <li>
                            在本地时间 9:00 至 11:00 之间
                            发送<a href="{% url 'hc-profile' %}">邮件报告</a>（如果已启用）。
                        </li>
                    </ul>
                    <br />
                    <button type="submit" class="btn btn-default pull-right">保存更改</button>
                </form>
            </div>
            {% if tz_updated %}
            <div class="panel-footer">
                时区已更新！
            </div>
            {% endif %}
        </div>

        <div class="panel panel-default">
            <div class="panel-body settings-block">
                <h2>关闭账户</h2>
                <p>这将永久删除您的 {{ site_name }} 账户。</p>
                <div class="text-right">
                    <a href="{% url 'hc-close' %}" class="btn btn-remove">关闭账户</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="leave-project-modal" class="modal">
    <div class="modal-dialog">
        <form id="leave-project-form" method="post">
            {% csrf_token %}
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4>离开此项目？</h4>
                </div>
                <div class="modal-body">
                    <p>
                        您即将离开项目 <strong id="leave-project-name"></strong>。
                        您将无法访问其监控点和集成。
                    </p>
                    <p>确定吗？</p>
                    <input
                        type="hidden"
                        name="code"
                        id="leave-project-code" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button
                        type="submit"
                        name="leave_project"
                        class="btn btn-danger">离开项目</button>
                </div>
            </div>
        </form>
    </div>
</div>

{% include "accounts/add_project_modal.html" %}

{% endblock %}

{% block scripts %}
{% compress js %}
<script src="{% static 'js/tom-select.popular.min.js' %}"></script>
<script src="{% static 'js/add_project_modal.js' %}"></script>
<script src="{% static 'js/profile.js' %}"></script>
{% endcompress %}
{% endblock %}
