{% extends "base_project.html" %}
{% load compress static hc_extras %}

{% block title %}项目设置 - {{ project }}{% endblock %}


{% block content %}
{% with project.transfer_request as transfer_request %}
<div class="row">
    <div class="col-sm-9 col-md-7 col-lg-6">
        {% for message in messages %}
            <p class="alert alert-{{ message.tags }}">{{ message }}</p>
        {% endfor %}

        {% if transfer_request and transfer_request.user == request.user %}
        {% with can_accept=transfer_request.can_accept %}
        <div id="transfer-request" class="panel">
            <div class="panel-body settings-block">
                <h2>所有权转移请求</h2>
                <p>
                    <strong>{{ project.owner.email }}</strong> 希望将此项目的
                    所有权转移给您。
                </p>

                {% if not can_accept %}
                {% with num_checks=project.check_set.count num_available=request.profile.num_checks_available %}
                <p>
                    此项目有
                    <strong>{{ num_checks }} 个监控点</strong>，
                    但您的账户只能容纳
                    <strong>{{ num_available }} 个额外监控点</strong>。
                    要接受转移，请
                    <a href="{% url 'hc-billing' %}">先升级您的账户！</a>
                </p>
                {% endwith%}
                {% endif %}

                <div class="pull-right">
                    <form method="post">
                        {% csrf_token %}
                        <button
                            type="submit"
                            name="reject_transfer"
                            class="btn btn-default">拒绝</button>
                        <button
                            type="submit"
                            name="accept_transfer"
                            {% if not can_accept %}disabled{% endif %}
                            class="btn btn-primary">接受</button>
                    </form>
                </div>

            </div>
        </div>
        {% endwith %}
        {% endif %}

        <div class="panel panel-{{ project_name_status|default:'default' }}">
            <div class="panel-body settings-block">
                <h2>项目名称</h2>
                {{ project }}
                {% if rw %}
                <a
                    href="#"
                    class="btn btn-default pull-right"
                    data-toggle="modal"
                    data-target="#set-project-name-modal">修改项目名称</a>
                {% endif %}
            </div>

           {% if project_name_updated %}
            <div class="panel-footer">
                项目名称已更新
            </div>
            {% endif %}
        </div>

        {% if rw %}
        <div class="panel panel-{{ api_status|default:'default' }}">
            <div class="panel-body settings-block">
                <h2>API 访问</h2>
                <table id="api-keys" class="table">
                    <tr>
                        <td>API 密钥</td>
                        <td>
                            {% if "." in project.api_key %}
                                <code>{{ project.api_key|mask_rw_key }}</code>
                            {% elif project.api_key %}
                                <code data-plaintext="{{ project.api_key }}">{{ project.api_key|mask_key }}</code>
                            {% else %}
                                <span class="not-set">未设置</span>
                            {% endif %}
                        </td>
                        <td class="text-right">
                            {% if project.api_key %}
                            <a href="#"
                               data-revoke-key="api_key"
                               data-name="API key">吊销</a>
                            {% else %}
                            <a href="#" data-create-key="api_key">创建</a>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>API 密钥（只读）</td>
                        <td>
                            {% if "." in project.api_key_readonly %}
                                <code>{{ project.api_key_readonly|mask_ro_key }}</code>
                            {% elif project.api_key_readonly %}
                                <code data-plaintext="{{ project.api_key_readonly }}">{{ project.api_key_readonly|mask_key }}</code>
                            {% else %}
                                <span class="not-set">未设置</span>
                            {% endif %}
                        </td>
                        <td class="text-right">
                            {% if project.api_key_readonly %}
                            <a href="#"
                            data-revoke-key="api_key_readonly"
                                data-name="read-only API key">吊销</a>
                            {% else %}
                            <a href="#" data-create-key="api_key_readonly">创建</a>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>Ping 密钥</td>
                        <td>
                            {% if project.ping_key %}
                                <code data-plaintext="{{ project.ping_key }}">{{ project.ping_key|mask_key }}</code>
                            {% else %}
                            <span class="not-set">未设置</span>
                            {% endif %}
                        </td>
                        <td class="text-right">
                            {% if project.ping_key %}
                            <a href="#"
                               data-revoke-key="ping_key"
                               data-name="Ping key">吊销</a>
                            {% else %}
                            <a href="#" data-create-key="ping_key">创建</a>
                            {% endif %}
                        </td>
                    </tr>
                </table>

                <p>另请参阅：</p>
                <ul>
                    <li><a href="{% url 'hc-serve-doc' 'api' %}">API 文档</a></li>
                    <li><a href="{% url 'hc-serve-doc' 'http_api' %}">Ping API 文档</a></li>
                </ul>
            </div>

            {% if key_created %}
            <div class="panel-footer">
                密钥已创建
            </div>
            {% endif %}

           {% if key_revoked %}
            <div class="panel-footer">
                密钥已吊销
            </div>
            {% endif %}
        </div>
        {% endif %}

        {% with invite_suggestions=project.invite_suggestions %}
        <div class="panel panel-{{ team_status|default:'default' }}">
            <div class="panel-body settings-block">
                <h2>团队访问</h2>
                {% if memberships or invite_suggestions %}
                    <table id="team-table" class="table">
                        <tr>
                            <th>邮箱</th>
                            <th>角色</th>
                            <th></th>
                        </tr>
                        <tr>
                            <td class="email">{{ project.owner.email }}</td>
                            <td>所有者</td>
                            <td></td>
                        </tr>
                        {% for m in memberships %}
                        <tr>
                            <td class="email">{{ m.user.email }}</td>
                            <td>{{ m.get_role_display }}</td>
                            <td>
                                {% if is_manager and m.user != request.user %}
                                <a
                                    href="#"
                                    data-email="{{ m.user.email }}"
                                    class="pull-right member-remove">移除</a>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}

                        {% if is_manager and invite_suggestions %}
                        <tr id="suggestions-row">
                            <td colspan="3">
                                从其他项目添加用户
                            </td>
                        </tr>

                        {% for user in invite_suggestions %}
                        <tr class="invite-suggestion">
                            <td>{{ user.email }} </td>
                            <td></td>
                            <td>
                                <a
                                    href="#"
                                    data-email="{{ user.email }}"
                                    class="pull-right add-to-team">添加到团队</a>
                            </td>
                        </tr>
                        {% endfor %}
                        {% endif %}
                    </table>
                {% else %}
                    <p>
                        <strong>邀请团队成员加入您的项目。</strong>
                        共享监控点和集成配置的访问权限，
                        无需共享登录信息。
                    </p>
                {% endif %}

                <br />

                {% if is_manager %}
                <a
                    href="#"
                    class="btn btn-primary pull-right"
                    data-toggle="modal"
                    data-target="#invite-team-member-modal">邀请团队成员</a>
                {% endif %}
            </div>
            {% endwith %}

           {% if team_member_invited %}
            <div class="panel-footer">
                已邀请 {{ team_member_invited }} 加入团队
            </div>
            {% endif %}

           {% if team_member_duplicate %}
            <div class="panel-footer">
                {{ team_member_duplicate }} 已是团队成员
            </div>
            {% endif %}

           {% if team_member_removed %}
            <div class="panel-footer">
                {{ team_member_removed }} 已从团队移除
            </div>
            {% endif %}
        </div>

        {% if is_owner %}
        <div class="panel panel-{{ transfer_status|default:'default' }}">
            <div class="panel-body settings-block">
                <h2>转移所有权</h2>

                {% if transfer_request %}
                <form method="post">
                    {% csrf_token %}
                    <button
                        type="submit"
                        name="cancel_transfer"
                        class="btn btn-default pull-right">取消转移</button>
                </form>

                已发起转移，正在等待
                <strong>{{ transfer_request.user.email }}</strong> 的确认。

                {% else %}
                <a href="#"
                   class="btn btn-default pull-right"
                   data-toggle="modal"
                   data-target="#transfer-modal">转移项目…</a>
                将此项目转移给团队成员。
                {% endif %}
            </div>

           {% if transfer_initiated %}
            <div class="panel-footer">
                转移已发起！
            </div>
            {% endif %}

           {% if transfer_cancelled %}
            <div class="panel-footer">
                转移已取消！
            </div>
            {% endif %}
        </div>
        {% endif %}

        {% if is_owner %}
        <div class="panel panel-default">
            <div class="panel-body settings-block">
                    {% csrf_token %}
                    <h2>删除项目</h2>
                    <a href="#"
                       class="btn btn-remove pull-right"
                       data-toggle="modal"
                       data-target="#remove-project-modal">删除项目</a>
                    这将永久删除项目 {{ project }}。
                <form action="{% url 'hc-remove-project' project.code %}" method="post">
                </form>
            </div>
        </div>
        {% endif %}

    </div>
</div>

{% if rw %}
<form id="create-key-form" method="post">
    {% csrf_token %}
    <input id="create-key-type" type="hidden" name="create_key">
</form>
{% endif %}

{% if rw %}
<div id="revoke-key-modal" class="modal">
    <div class="modal-dialog">
        <form id="revoke-key-form" method="post">
            {% csrf_token %}
            <input id="revoke-key-type" type="hidden" name="revoke_key">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4>吊销 <span class="name"></span>？</h4>
                </div>
                <div class="modal-body">
                    <p>
                        您即将吊销当前的
                        <span class="name"></span>。
                    </p>
                    <p>
                        之后，您可以生成一个新密钥，但
                        <strong>将无法找回当前密钥的值</strong>。
                    </p>
                    <p>确定吗？</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="submit" class="btn btn-danger">
                        吊销 <span class="name"></span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endif %}

{% if is_manager %}
<div id="remove-team-member-modal" class="modal">
    <div class="modal-dialog">
        <form id="remove-team-member-form" method="post">
            {% csrf_token %}
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4>移除团队成员</h4>
                </div>
                <div class="modal-body">
                    <p>您即将从项目中移除 <strong id="rtm-email"></strong>。</p>
                    <p>确定吗？</p>
                    <input
                        type="hidden"
                        name="email"
                        id="remove-team-member-email" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button
                        type="submit"
                        name="remove_team_member"
                        class="btn btn-danger">从项目中移除成员</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endif %}

{% if is_manager %}
<div id="invite-team-member-modal" class="modal">
    <div class="modal-dialog">
        <form method="post" class="form-horizontal">
            {% csrf_token %}
            <input type="hidden" name="invite_team_member" value="1" />
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4>邀请团队成员</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="itm-email" class="col-sm-3 control-label">邮箱</label>
                        <div class="col-sm-8">
                            <input
                                type="email"
                                class="form-control"
                                id="itm-email"
                                name="email"
                                maxlength="254"
                                placeholder="friend@example.org">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">访问级别</label>

                        <div class="col-sm-8">
                        <label class="radio-container">
                            <input
                                type="radio"
                                name="role"
                                value="w"
                                checked>
                            <span class="radiomark"></span>
                            团队成员
                            <span class="help-block">
                                可以创建和管理监控点及集成。
                                无法访问账户的账单设置。
                            </span>
                        </label>
                        <label class="radio-container">
                            <input
                                type="radio"
                                name="role"
                                value="m">
                            <span class="radiomark"></span>
                            管理员
                            <span class="help-block">
                                与团队成员相同，此外可以邀请和移除
                                其他成员。
                            </span>
                        </label>
                        <label class="radio-container">
                            <input
                                type="radio"
                                name="role"
                                value="r">
                            <span class="radiomark"></span>
                            只读
                            <span class="help-block">
                                可以查看监控点和集成，但不能
                                修改任何内容。无法访问项目的 API 密钥。
                            </span>
                        </label>
                        </div>
                    </div>



                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button
                        type="submit"
                        name="invite_team_member"
                        class="btn btn-primary">发送邀请</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endif %}

{% if rw %}
<div id="set-project-name-modal" class="modal">
    <div class="modal-dialog">
        <form method="post" class="form-horizontal">
            {% csrf_token %}
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4>修改项目名称</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="project-name" class="col-sm-4 control-label">项目名称</label>
                        <div class="col-sm-7">
                            <input
                                type="text"
                                class="form-control"
                                id="project-name"
                                name="name"
                                maxlength="60"
                                value="{{ project }}">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button
                        type="submit"
                        name="set_project_name"
                        class="btn btn-primary">设置项目名称</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endif %}

{% if is_owner %}
<div id="remove-project-modal" class="modal">
    <div class="modal-dialog">
        <form method="post" action="{% url 'hc-remove-project' project.code %}">
            {% csrf_token %}
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4>删除"{{ project }}"？</h4>
                </div>
                <div class="modal-body">
                    <p>危险区域！您即将永久删除
                    项目 <strong>{{ project }}</strong> 及其所有
                    关联的监控点和集成。确定吗？
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button
                        type="submit"
                        class="btn btn-danger">删除项目</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endif %}

{% if is_owner and not transfer_request %}
<div id="transfer-modal" class="modal">
    <div class="modal-dialog">
    <form
        class="form-horizontal"
        method="post">
        {% csrf_token %}
        <input type="hidden" name="transfer_project" value="1" />
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4>转移所有权</h4>
            </div>
            <div class="modal-body">

                {% if memberships %}
                <div class="form-group">
                    <label for="new-owner" class="col-sm-4 control-label">
                        选择所有者
                    </label>
                    <div class="col-sm-7">
                        <select
                            id="new-owner"
                            name="email"
                            title="Select..."
                            class="form-control">
                            <option></option>
                            {% for m in memberships %}
                            <option>{{ m.user.email }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                {% else %}
                <p>
                    此项目目前没有团队成员。
                    要转移此项目的所有权，请先邀请
                    新所有者作为团队成员加入。
                </p>
                {% endif %}
            </div>
            <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button
                        id="transfer-confirm"
                        disabled
                        type="submit"
                        class="btn btn-primary">发起转移</button>
            </div>
        </div>
    </form>
    </div>
</div>
{% endif %}

{% if new_key %}
<div id="key-created-modal" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4>API 密钥已创建！</h4>
            </div>
            <div class="modal-body">
                <p>复制密钥并安全存储。密钥将不再显示：</p>
                <input type="text" class="form-control" value="{{ new_key }}" readonly />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">好的，我已复制密钥</button>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% if new_ping_key %}
<div id="key-created-modal" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Ping 密钥已创建！</h4>
            </div>
            <div class="modal-body">
                <p>这是新的 Ping 密钥。</p>
                <p>
                <strong>提示：</strong>与 API 密钥不同，您之后
                也可以查看 Ping 密钥。当 {% site_name %} 以掩码形式显示 Ping
                密钥时，您可以<strong>点击它以显示明文</strong>。
                </p>
                <input type="text" class="form-control" value="{{ new_ping_key }}" readonly />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">好的，我已复制密钥</button>
            </div>
        </div>
    </div>
</div>
{% endif %}



{% endwith %}
{% endblock %}

{% block scripts %}
{% compress js %}
<script src="{% static 'js/project.js' %}"></script>
{% endcompress %}
{% endblock %}
