{% extends "base.html" %}
{% load compress static hc_extras %}

{% block content %}
<div class="row">
<form class="col-sm-6 col-sm-offset-3" method="post">
    {% csrf_token %}
    <div class="panel panel-default">
        <div class="panel-body settings-block">
            <h2>禁用身份验证器应用</h2>
            <p></p>
            <p>您即将从您的 {% site_name %} 账户中
               移除身份验证器应用。
            </p>

            {% if is_last %}
            <p>
                移除身份验证器应用后，
                <strong>双重身份验证将不再生效。</strong>
            </p>
            {% endif %}

            <p>确定要继续吗？</p>

            <div class="text-right">
                <a
                    href="{% url 'hc-profile' %}"
                    class="btn btn-default">取消</a>
                <button
                    type="submit"
                    name="disable_totp"
                    class="btn btn-danger">禁用身份验证器应用</button>
            </div>
        </div>
    </div>
</form>
</div>
{% endblock %}
