{% extends "base.html" %}
{% load compress static hc_extras %}

{% block content %}
<div class="row">
<form class="col-sm-6 col-sm-offset-3" method="post">
    {% csrf_token %}
    <div class="panel panel-default">
        <div class="panel-body settings-block">
            <h2>移除安全密钥？</h2>
            <p></p>
            <p>您即将从您的双重身份验证方法中
            移除安全密钥 <strong>{{ credential.name|default:'未命名' }}</strong>。
            </p>

            {% if is_last %}
            <p>
                移除该密钥后，
                <strong>双重身份验证将不再生效</strong>。
                
            </p>
            {% endif %}

            <div class="text-right">
                <a
                    href="{% url 'hc-profile' %}"
                    class="btn btn-default">取消</a>
                <button
                    type="submit"
                    name="remove_credential"
                    class="btn btn-danger">移除安全密钥</button>
            </div>
        </div>
    </div>
</form>
</div>
{% endblock %}
