{% extends "base.html" %}
{% load compress hc_extras static %}

{% block content %}
<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <div class="hc-dialog">
            <h1>设置密码</h1>
            <div class="dialog-body">
                <p>
                    请为您的 {{ site_name }} 账户选择一个密码。
                </p>
            </div>

            <form method="post">
                {% csrf_token %}

                <div id="set-password-group" class="form-group">
                    <input
                        id="password"
                        type="password"
                        minlength="8"
                        class="form-control input-lg"
                        name="password"
                        placeholder="选择一个密码（至少8个字符）"
                        required>
                    <div id="meter">
                        <div class="s0 s1 s2 s3 s4"></div>
                        <div class="s1 s2 s3 s4"></div>
                        <div class="s2 s3 s4"></div>
                        <div class="s3 s4"></div>
                    </div>
                </div>

                <div class="clearfix">
                    <button type="submit" class="btn btn-lg btn-primary pull-right">
                        设置密码
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{% compress js %}
<script src="{% static 'js/zxcvbn.min.js' %}"></script>
<script src="{% static 'js/set-password.js' %}"></script>
{% endcompress %}
{% endblock %}
