{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <div class="hc-dialog">
            <h1>输入确认码</h1>
            <br />
            <p>
                我们已向您的邮箱地址发送了一个确认码。
                请在下方输入以继续：
            </p>

            <form method="POST">
                {% csrf_token %}

                <div class="form-group {% if wrong_code %}has-error{% endif %}">
                    <input
                        id="sudo-code"
                        type="text"
                        class="form-control input-lg"
                        maxlength="6"
                        name="sudo_code"
                        autofocus />

                    {% if wrong_code %}
                    <div class="help-block">
                        验证码无效。您输入正确吗？
                    </div>
                    {% endif %}
                </div>

                <button
                    class="btn btn-lg btn-primary btn-block"
                    type="submit">
                    继续
                </button>

            </form>

        </div>
    </div>
</div>

{% endblock %}
