{% extends "base_project.html" %}
{% load compress humanize static hc_extras %}

{% block title %}Trello 集成 - {{ site_name }}{% endblock %}

{% block content %}
<div class="row">
<div class="col-sm-12">
    <h1>Trello</h1>

    <div class="jumbotron">
        <p>
            通过此集成，{{ site_name }} 将在每次检查项宕机时
            创建一张 <a href="https://trello.com/">Trello</a> 卡片。
        </p>

        <div class="text-center">
            {% csrf_token %}
            <a href="{{ authorize_url }}" class="btn btn-lg btn-default">
                <img class="ai-icon" src="{% static 'img/trello.png' %}" alt="Trello" />
                连接 Trello
            </a>
        </div>
    </div>

    <div id="integration-settings"></div>

</div>
</div>
{% endblock %}

{% block scripts %}
{% compress js %}
<script src="{% static 'js/add_trello.js' %}"></script>
{% endcompress %}
{% endblock %}
