{% extends "base_project.html" %}
{% load humanize static hc_extras %}

{% block title %}Rocket.Chat 集成 - {{ site_name }}{% endblock %}
{% block description %}
    <meta name="description" content="如果您的团队使用 Rocket.Chat，您可以设置 {{ site_name }} 在检查项恢复或宕机时直接将警报发布到合适的 Rocket.Chat 频道。">
{% endblock %}

{% block content %}
<div class="row">
<div class="col-sm-12">

    <h1>Rocket.Chat</h1>
    <div class="jumbotron">
        {% if request.user.is_authenticated %}
        <p>
            如果您的团队使用 <a href="https://www.rocket.chat/">Rocket.Chat</a>，
            您可以设置 {{ site_name }} 在检查项<strong>恢复</strong>
            或<strong>宕机</strong>时直接将警报发布到合适的 Rocket.Chat 频道。
        </p>
        {% else %}
        <p>
            {{ site_name }} 是一款免费且
            <a href="https://github.com/healthchecks/healthchecks">开源</a>的
            服务，用于监控<strong>cron 作业</strong>、<strong>后台进程</strong>和
            <strong>计划任务</strong>。当 {% site_name %} 检测到问题时，它可以通过
            在 Rocket.Chat 频道中发布消息来通知您。要设置 Rocket.Chat
            集成，请登录 {{ site_name }}：
        </p>

        <div class="text-center">
            <a href="{% url 'hc-login' %}"
               class="btn btn-primary btn-lg">Log In</a>
        </div>
        {% endif %}
    </div>

    <h2>设置指南</h2>

    <div class="row ai-step">
        <div class="col-sm-6">
            <span class="step-no"></span>
            登录您的 Rocket.Chat 帐户，
            导航至 <strong>管理</strong> > <strong>工作区</strong> > <strong>集成</strong>。
        </div>
        <div class="col-sm-6">
            <img
                class="ai-guide-screenshot"
                alt="截图"
                src="{% static 'img/setup_rocketchat_1.png' %}">
        </div>
    </div>
    <div class="row ai-step">
        <div class="col-sm-6">
            <span class="step-no"></span>
            <p>点击右上角的 <strong>"+新建"</strong>。</p>
        </div>
        <div class="col-sm-6">
            <img
                class="ai-guide-screenshot"
                alt="截图"
                src="{% static 'img/setup_rocketchat_2.png' %}">
        </div>
    </div>
    <div class="row ai-step">
        <div class="col-sm-6">
            <span class="step-no"></span>
            <p>切换到 <strong>传入</strong> 选项卡，填写表单：</p>
            <ul>
                <li>打开 <strong>启用</strong> 开关。</li>
                <li><strong>名称：</strong> 为集成起一个描述性的名称。</li>
                <li><strong>发布到频道：</strong> 选择接收警报的频道或用户。</li>
                <li><strong>发布身份：</strong> 选择此集成发布时使用的用户名。该用户必须已存在。</li>
            </ul>
        </div>
        <div class="col-sm-6">
            <img
                class="ai-guide-screenshot"
                alt="截图"
                src="{% static 'img/setup_rocketchat_3.png' %}">
        </div>
    </div>

    <div class="row ai-step">
        <div class="col-sm-6">
            <span class="step-no"></span>
            {% if project %}
            <p>保存集成，然后复制生成的
            <strong>Webhook 链接</strong>并粘贴到下面的表单中。</p>
            {% else %}
            <p>保存集成，然后复制生成的 <strong>Webhook 链接</strong>。</p>
            {% endif %}
        </div>
        <div class="col-sm-6">
            <img
                class="ai-guide-screenshot"
                alt="截图"
                src="{% static 'img/setup_rocketchat_4.png' %}">
        </div>
    </div>

    {% if not project %}
    <div class="row ai-step">
        <div class="col-sm-6">
            <span class="step-no"></span>
            <p>登录 {% site_name %}，然后前往 <strong>集成</strong>
                页面，点击 Rocket.Chat 集成旁的 <strong>添加集成</strong>。
            </p>
        </div>
        <div class="col-sm-6">
            <img
                class="ai-guide-screenshot"
                alt="截图"
                src="{% static 'img/setup_rocketchat_5.png' %}">
        </div>
    </div>

    <div class="row ai-step">
        <div class="col-sm-6">
            <span class="step-no"></span>
            <p>将复制的 <strong>链接</strong> 粘贴到表单中。</p>
            <p>保存集成，一切就绪！</p>
        </div>
        <div class="col-sm-6">
            <img
                class="ai-guide-screenshot"
                alt="截图"
                src="{% static 'img/setup_rocketchat_6.png' %}">
        </div>
    </div>
    {% endif %}

    {% if project %}
    <h2>集成设置</h2>
    <form method="post" class="form-horizontal">
        {% csrf_token %}
        <div class="form-group {{ form.value.css_classes }}">
            <label for="callback-url" class="col-sm-2 control-label">
                Webhook 链接
            </label>
            <div class="col-sm-10">
                <input
                    id="callback-url"
                    type="text"
                    class="form-control"
                    name="value"
                    placeholder="https://"
                    value="{{ form.value.value|default:"" }}">

                {% if form.value.errors %}
                <div class="help-block">
                    {{ form.value.errors|join:"" }}
                </div>
                {% endif %}
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary">保存集成</button>
            </div>
        </div>
    </form>
    {% endif %}
</div>
</div>
{% endblock %}
