{% extends "base_project.html" %}
{% load humanize static hc_extras %}

{% block title %}Pushbullet 集成 - {{ site_name }}{% endblock %}


{% block content %}
<div class="row">
<div class="col-sm-12">
    <h1>Pushbullet</h1>

    <div class="jumbotron">
        <p>
            通过此集成，{{ site_name }} 将在检查项
            <strong>恢复</strong>或<strong>宕机</strong>时发送
            <a href="http://pushbullet.com/">Pushbullet</a> 通知。
        </p>

        <form method="post" class="text-center">
            {% csrf_token %}
            <a href="{{ authorize_url }}" class="btn btn-lg btn-default">
                <img class="ai-icon" src="{% static 'img/pushbullet.png' %}" alt="Pushbullet" />
                连接 Pushbullet
            </a>
        </form>
    </div>
</div>
</div>
{% endblock %}