{% extends "base_project.html" %}
{% load humanize static hc_extras %}

{% block title %}Matrix 集成 - {{ site_name }}{% endblock %}

{% block content %}
<div class="row">
<div class="col-sm-12">
    <h1>Matrix</h1>

    <p>
    如果您的团队使用 <a href="https://matrix.org/">Matrix</a>，
    您可以设置 {{ site_name }} 将通知发布到指定的 Matrix 房间。
    </p>

    <h2>设置指南</h2>
    <div class="row ai-step">
        <div class="col-sm-6">
            <span class="step-no"></span>
            <div>
                <p>
                将 <strong>{{ matrix_user_id }}</strong>
                邀请到您的 Matrix 房间。
                </p>
                <p>
                    <strong>注意：</strong>加入房间后，
                    {{ matrix_user_id }} 将能够读取房间消息。
                    请勿邀请到包含敏感内容的房间。
                    建议创建一个专门用于通知的房间。
                </p>
            </div>
        </div>
        <div class="col-sm-6">
            <img
                class="ai-guide-screenshot"
                alt="Screenshot"
                src="{% static 'img/setup_matrix_1.png' %}">
        </div>
    </div>

    <div class="row ai-step">
        <div class="col-sm-6">
            <span class="step-no"></span>
            <p>
                进入<strong>房间设置 › 通用</strong>界面
                并查找房间的<strong>已发布地址</strong>。
            </p>
        </div>
        <div class="col-sm-6">
            <img
                class="ai-guide-screenshot"
                alt="Screenshot"
                src="{% static 'img/setup_matrix_2.png' %}">
        </div>
    </div>

    <div class="row ai-step">
        <div class="col-sm-6">
            <span class="step-no"></span>
            <p>
                如果房间没有已发布地址，
                请从<strong>房间设置 › 高级</strong>界面
                查找其<strong>内部房间 ID</strong>。
            </p>
        </div>
        <div class="col-sm-6">
            <img
                class="ai-guide-screenshot"
                alt="Screenshot"
                src="{% static 'img/setup_matrix_3.png' %}">
        </div>
    </div>

    <div class="row ai-step">
        <div class="col-sm-6">
            <span class="step-no"></span>
            <p>
                在下方表单中输入已发布地址或内部房间 ID，
                然后保存集成。
            </p>
            <p>
                {{ matrix_user_id }} 将很快加入您的房间。之后，
                就全部完成了！从现在起，{{ site_name }} 将在检查项
                宕机或恢复时向您的房间发布通知。
            </p>
        </div>
        <div class="col-sm-6">
            <img
                class="ai-guide-screenshot"
                alt="Screenshot"
                src="{% static 'img/setup_matrix_4.png' %}">
        </div>
    </div>

    <h2>集成设置</h2>

    <form method="post" class="form-horizontal">
        {% csrf_token %}

        <div class="form-group {{ form.alias.css_classes }}">
            <label for="alias" class="col-sm-2 control-label">地址或内部 ID</label>
            <div class="col-sm-6">
                <input
                    id="alias"
                    type="text"
                    class="form-control"
                    name="alias"
                    placeholder="#alias:matrix.org"
                    value="{{ form.alias.value|default:"" }}">

                {% if form.alias.errors %}
                <div class="help-block">
                    {{ form.alias.errors|join:""|linebreaks }}
                </div>
                {% endif %}
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary">保存集成</button>
            </div>
        </div>
    </form>
</div>
</div>
{% endblock %}
