{% load humanize hc_extras %}
{% if status == "down" %}
    🔴 检查项 <a href="{{ check.cloaked_url }}">{{ check.name_then_code }}</a> <b>已宕机</b>{% if flip.reason %}（{{ flip.reason_long }}）{% endif %}。
{% else %}
    🟢 检查项 <a href="{{ check.cloaked_url }}">{{ check.name_then_code }}</a> <b>已恢复</b>。
    {% if flip.new_status == "up" and flip.down_duration %}
    <br>宕机持续了 {{ flip.down_duration|hc_duration_for_sentence }}。
    {% endif %}
{% endif %}
<br>

<br>
{% if check.project.name %}
<b>项目：</b> {{ check.project.name }}<br>
{% endif %}

{% if check.tags_list %}
<b>标签：</b> {% for tag in check.tags_list%}<code>{{ tag }}</code> {% endfor %}<br>
{% endif %}

{% if check.kind == "simple" %}
<b>周期：</b> {{ check.timeout|hc_duration }}<br>
{% endif %}

{% if check.kind == "cron" or check.kind == "oncalendar" %}
<b>计划：</b> <code>{{ check.schedule }}</code><br>
<b>时区：</b> {{ check.tz }}<br>
{% endif %}

<b>总 Ping 数：</b> {% if ping %}{{ ping.n }}{% else %}0{% endif %}<br>

{% if ping is None %}
<b>上次 Ping：</b> 从未<br>
{% else %}
<b>上次 Ping：</b> {{ ping.get_kind_display }}，{{ ping.created|naturaltime }}<br>
{% endif %}

{% if body %}
<b>上次 Ping 内容：</b><br>
<pre>{{ body }}</pre>
{% endif %}

{% if down_checks is not None %}
    <br>
    {% if down_checks %}
        {% if down_checks|length > 10 %}
            其他 {{ down_checks|length }} 个检查项{% if status == "down" %}也{% else %}仍然{% endif %}宕机。<br>
        {% else %}
            以下检查项{% if status == "down" %}也{% else %}仍然{% endif %}宕机：<br>
            <ul>
            {% for c in down_checks %}
                <li><a href="{{ c.cloaked_url }}">{{ c.name_then_code }}</a>（上次 Ping：{{ c.last_ping|naturaltime|default:"从未" }}）</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% else %}
        所有其他检查项均已恢复。<br>
    {% endif %}
{% endif %}
