{% extends "base_project.html" %}
{% load compress humanize static hc_extras %}

{% block title %}Zulip 集成 - {{ site_name }}{% endblock %}


{% block content %}
<div class="row">
<div class="col-sm-12">
    <h1>Zulip</h1>
    <p>
        <a href="https://zulipchat.com/">Zulip</a> 是一个开源群聊应用，
        采用邮件式话题模型。如果你正在使用或计划使用 Zulip，
        只需几个简单步骤即可将其与你的 {{ site_name }} 账户集成。
    </p>

    <h2>设置指南</h2>
    <div class="row ai-step">
        <div class="col-sm-6">
            <span class="step-no"></span>
            <p>
                登录你的 Zulip 账户，
                点击右上角的<strong>齿轮图标</strong>，
                然后选择<strong>个人设置</strong>。
            </p>
        </div>
        <div class="col-sm-6">
            <img
                class="ai-guide-screenshot"
                alt="Screenshot"
                src="{% static 'img/setup_zulip_1.png' %}">
        </div>
    </div>
    <div class="row ai-step">
        <div class="col-sm-6">
            <span class="step-no"></span>
            <p>
                进入 <strong>机器人 › 添加新机器人</strong>并填写字段。
            </p>
            <p>
                在<strong>机器人类型</strong>中，
                选择"传入 Webhook"。你可以为机器人的名称和邮箱选择偏好的值。
            </p>
            <p>
                对于头像，可以随意使用 {{ site_name }} 的标识：
            </p>
            <p>
                <img src="{% static 'img/logo.png'%}" alt="{{ site_name }} logo">
            </p>
            <p>
                填写完值之后，
                点击<strong>添加</strong>。
            </p>
        </div>
        <div class="col-sm-6">
            <img
                class="ai-guide-screenshot"
                alt="Screenshot"
                src="{% static 'img/setup_zulip_2.png' %}">
        </div>
    </div>

    <div class="row ai-step">
        <div class="col-sm-6">
            <span class="step-no"></span>
            <p>
                添加机器人后，点击<strong>管理机器人</strong>图标。
            </p>
        </div>
        <div class="col-sm-6">
            <img
                class="ai-guide-screenshot"
                alt="Screenshot"
                src="{% static 'img/setup_zulip_3.png' %}">
        </div>
    </div>

    <div class="row ai-step">
        <div class="col-sm-6">
            <span class="step-no"></span>
            <p>
                在打开的对话框中，滚动到底部，点击
                <strong>紫色下载图标</strong>下载机器人的
                <code>zuliprc</code> 文件。
            </p>
        </div>
        <div class="col-sm-6">
            <img
                class="ai-guide-screenshot"
                alt="Screenshot"
                src="{% static 'img/setup_zulip_4.png' %}">
        </div>
    </div>

    <div class="row ai-step">
        <div class="col-sm-6">
            <span class="step-no"></span>
            <p>
                如果要将通知发送给单个 Zulip 用户，
                请在其 Zulip 用户资料中查找邮箱地址。
            </p>
            <p>
                如果用户资料未显示邮箱地址，可能是
                由于隐私设置。在这种情况下，请查找并使用其
                <strong>用户 ID</strong> 代替。
            </p>
            <p>
                填写下面的表单，保存集成，大功告成！
            </p>
        </div>
        <div class="col-sm-6">
            <img
                class="ai-guide-screenshot"
                alt="Screenshot"
                src="{% static 'img/setup_zulip_5.png' %}">
        </div>
    </div>

    <h2>集成设置</h2>

    <form method="post" class="form-horizontal">
        {% csrf_token %}
        <input type="hidden" name="api_key" id="zulip-api-key">
        <input type="hidden" name="bot_email" id="zulip-bot-email">
        <input type="hidden" name="site" id="zulip-site">

        <div class="form-group">
            <label for="zuliprc" class="col-sm-2 control-label">zuliprc 文件</label>
            <div class="col-sm-4">
                <input id="zuliprc" type="file">
                <div id="zuliprc-help" class="help-block">
                {% if form.api_key.errors or form.bot_email.errors or form.site.errors %}
                    文件格式无效。
                {% endif %}
                </div>
            </div>
        </div>

        <div id="z-mtype-group" class="form-group {{ form.mtype.css_classes }}">
            <label class="col-sm-2 control-label">发布到</label>
            <div class="col-sm-4">
                <label class="radio-container">
                    <input
                        type="radio"
                        name="mtype"
                        value="stream"
                        {% if form.mtype.value != "private" %} checked {% endif %}>
                    <span class="radiomark"></span>
                    频道
                </label>
                <label class="radio-container">
                    <input
                        type="radio"
                        name="mtype"
                        value="private"
                        {% if form.mtype.value == "private" %} checked {% endif %}>
                    <span class="radiomark"></span>
                    私信用户
                </label>
            </div>
        </div>

        <div class="form-group {{ form.to.css_classes }}">
            <label id="z-to-label" for="z-to" class="col-sm-2 control-label">
            {% if form.mtype.value == "private" %}
                用户邮箱
            {% else %}
                频道
            {% endif %}
            </label>
            <div class="col-sm-4">
                <input
                    id="z-to"
                    type="text"
                    class="form-control"
                    name="to"
                    value="{{ form.to.value|default:"" }}">

                <div id="z-to-help" class="help-block">
                {% if form.to.errors %}
                    {{ form.to.errors|join:"" }}
                {% else %}
                    示例：{% if form.mtype.value == "private" %}"alice@example.org"{% else %}"general"{% endif%}
                {% endif %}
                </div>
            </div>
        </div>

        <div id="z-topic-group" class="form-group {% if form.mtype.value == 'private' %}hide{% endif %} {{ form.topic.css_classes }}">
            <label for="z-topic" class="col-sm-2 control-label">话题</label>
            <div class="col-sm-4">
                <input
                    id="z-topic"
                    type="text"
                    class="form-control"
                    name="topic"
                    value="{{ form.topic.value|default:"" }}">
                <div class="help-block">
                    示例："Alerts"。留空以使用自动生成的话题，格式为：
                    "{check name} {status}"。
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button
                    id="save-integration"
                    type="submit"
                    disabled
                    class="btn btn-primary">保存集成</button>
            </div>
        </div>
    </form>
</div>
</div>
{% endblock %}

{% block scripts %}
{% compress js %}
<script src="{% static 'js/add_zulip.js' %}"></script>
{% endcompress %}
{% endblock %}
