{% extends "base_project.html" %}
{% load compress humanize static hc_extras %}

{% block title %}PagerDuty 集成 - {{ site_name }}{% endblock %}


{% block content %}
<div class="row">
<div class="col-sm-12">
    <h1>PagerDuty</h1>

    <p>
        如果您的团队使用 <a href="https://www.pagerduty.com/">PagerDuty</a>，
        您可以设置 {{ site_name }} 在检查项宕机时创建 PagerDuty 事件，
        并在检查项恢复时将其解决。
    </p>

    <h2>设置指南</h2>
    <div class="row ai-step">
        <div class="col-sm-6">
            <span class="step-no"></span>
            <p>
                登录您的 PagerDuty 帐户，
                进入 <strong>配置 &gt; 服务</strong>，
                点击 <strong>新建服务</strong>。
            </p>
            <p>
                为其起一个描述性的名称，
                在集成类型中选择
                <strong>直接使用我们的 API</strong>。
            </p>

        </div>
        <div class="col-sm-6">
            <img
                class="ai-guide-screenshot"
                alt="截图"
                src="{% static 'img/setup_pd_s1.png' %}">
        </div>
    </div>
    <div class="row ai-step">
        <div class="col-sm-6">
            <span class="step-no"></span>
            添加新服务后，记下其
            <strong>集成密钥</strong>，一个由字母和数字组成的
            长字符串。

        </div>
        <div class="col-sm-6">
            <img
                class="ai-guide-screenshot"
                alt="截图"
                src="{% static 'img/setup_pd_s2.png' %}">
        </div>
    </div>

    <div class="row ai-step">
        <div class="col-sm-6">
            <span class="step-no"></span>
            <p>将集成密钥粘贴到下方。保存集成，大功告成！</p>
        </div>
    </div>

    <h2>集成设置</h2>

    <form method="post" class="form-horizontal">
        {% csrf_token %}
        <div class="form-group {{ form.value.css_classes }}">
            <label for="api-key" class="col-sm-2 control-label">集成密钥</label>
            <div class="col-sm-4">
                <input
                    id="api-key"
                    type="text"
                    class="form-control"
                    name="value"
                    placeholder=""
                    value="{{ form.value.value|default:"" }}">

                {% if form.value.errors %}
                <div class="help-block">
                    {{ form.value.errors|join:"" }}
                </div>
                {% endif %}
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary">保存集成</button>
            </div>
        </div>
    </form>
</div>
</div>
{% endblock %}
