{% extends "base_project.html" %}
{% load compress humanize static hc_extras %}

{% block title %}Gotify 集成 - {{ site_name }}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-12">
        <h1>Gotify</h1>

        <p>
        <a href="https://gotify.net/">Gotify</a> 是一个开源、自托管的
        推送通知服务。如果您正在使用或计划使用 Gotify，
        只需几个简单步骤即可将其与您的 {{ site_name }} 账号集成。
        </p>

        <h2>设置指南</h2>

        <div class="row ai-step">
            <div class="col-sm-6">
                <span class="step-no"></span>
                <p>
                    登录您的 Gotify 实例，进入
                    <strong>应用</strong>，创建一个新应用。
                </p>
                <p>
                    选择一个描述性名称和简短说明。
                    创建应用后，您还可以为其上传图标
                    （可以随意使用<a href="{% absolute_site_logo_url %}">这个</a>）。
                </p>
            </div>
            <div class="col-sm-6">
                <img class="ai-guide-screenshot" alt="点击创建集成按钮"
                    src="{% static 'img/setup_gotify_1.png' %}" />
            </div>
        </div>

        <div class="row ai-step">
            <div class="col-sm-6">
                <span class="step-no"></span>
                <p>
                    创建应用后，复制其
                    <strong>令牌</strong>。
                </p>
            </div>
            <div class="col-sm-6">
                <img class="ai-guide-screenshot" alt="创建 Healthchecks.io 集成详情"
                    src="{% static 'img/setup_gotify_2.png' %}">
            </div>
        </div>

        <div class="row ai-step">
            <div class="col-sm-6">
                <span class="step-no"></span>
                <p>
                    在下方表单中输入您的 Gotify 服务器链接
                    和应用令牌。
                    保存集成，完成！
                </p>
            </div>
        </div>

        <h2>集成设置</h2>

        <form method="post" class="form-horizontal">
            {% csrf_token %}

            <div class="form-group {{ form.url.css_classes }}">
                <label for="url" class="col-sm-3 control-label">Gotify 服务器链接</label>
                <div class="col-sm-6">
                    <input
                        id="url"
                        type="text"
                        class="form-control"
                        name="url"
                        placeholder="https://"
                        value="{{ form.url.value|default:"" }}"
                        required>

                    {% if form.url.errors %}
                    <div class="help-block">{{ form.url.errors|join:"" }}</div>
                    {% endif %}
                </div>
            </div>
            <div class="form-group {{ form.token.css_classes }}">
                <label for="token" class="col-sm-3 control-label">应用令牌</label>
                <div class="col-sm-6">
                    <input
                        id="token"
                        type="text"
                        class="form-control"
                        name="token"
                        value="{{ form.token.value|default:"" }}"
                        required>

                    {% if form.token.errors %}
                    <div class="help-block">{{ form.token.errors|join:"" }}</div>
                    {% endif %}
                </div>
            </div>

            <div class="form-group {{ form.priority.css_classes }}">
                <label class="col-sm-3 control-label">"宕机"事件优先级</label>
                <div class="col-sm-6">
                    {{ form.priority }}
                    {% if form.priority.errors %}
                    <div class="help-block">{{ form.priority.errors|join:"" }}</div>
                    {% endif %}
                </div>
            </div>

            <div class="form-group {{ form.priority_up.css_classes }}">
                <label class="col-sm-3 control-label">"恢复"事件优先级</label>
                <div class="col-sm-6">
                    {{ form.priority_up }}
                    {% if form.priority_up.errors %}
                    <div class="help-block">{{ form.priority_up.errors|join:"" }}</div>
                    {% endif %}
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                    <button type="submit" class="btn btn-primary">保存集成</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block scripts %}
{% compress js %}
<script src="{% static 'js/tom-select.popular.min.js' %}"></script>
<script src="{% static 'js/add_gotify.js' %}"></script>
{% endcompress %}
{% endblock %}
