{% extends "base.html" %}
{% load compress humanize static hc_extras %}

{% block title %}Telegram 集成 - {{ site_name }}{% endblock %}

{% block description %}
    <meta name="description" content="将 {{ site_name }} 与 Telegram 配合使用：配置 {{ site_name }} 向 Telegram 用户、群组或频道发布状态更新。">
{% endblock %}

{% block content %}
<div class="row">
<div class="col-sm-12">
    <h1>Telegram</h1>

    {% if recipient.id %}
    <div class="jumbotron">
        <p>
            当检查项<strong>恢复</strong>或<strong>宕机</strong>时，
            {{ site_name }} 将发送通知到
            {% if recipient.type == "private" %}
                名为 <strong>{{ recipient.name }}</strong> 的 Telegram 用户
            {% elif recipient.type == "channel" %}
                名为 <strong>{{ recipient.name }}</strong> 的 Telegram 频道
            {% else %}
                名为 <strong>{{ recipient.name }}</strong> 的 Telegram 群组
            {% endif %}
            。
        </p>
    </div>

    <h2>集成设置</h2>
    <form id="add-telegram" method="post" class="form-horizontal">
        {% csrf_token %}
        <div class="form-group">
            <label class="col-sm-3 control-label">项目</label>
            <div class="col-sm-6 col-lg-4">
                <select name="project" class="form-control">
                    {% for project in projects %}
                    <option value="{{ project.code }}">{{ project }}</option>
                    {% endfor %}
                </select>
           </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-8">
                <button type="submit" class="btn btn-default">
                    <img class="ai-icon" src="{% static 'img/telegram.png' %}" alt="Telegram" />
                    连接 Telegram
                </button>
            </div>
        </div>
    </form>

    {% else %}
    <p>如果你的团队使用 <a href="https://telegram.org/">Telegram</a>，
    你可以设置 {{ site_name }} 直接向指定的 Telegram 用户、群组或频道
    发布状态更新。</p>

    <h2>设置指南</h2>
    <div class="row ai-step">
        <div class="col-sm-6">
            <span class="step-no"></span>
            <p>
                <strong>群组：</strong>如果要将通知发送到群组，首先将
                <a href="https://t.me/{{ bot_name }}">{{ bot_name }}</a>
                邀请到群组中。机器人将以成员身份加入，无法访问群组消息。
            </p>
            <p>
                <strong>私信：</strong>如果要将通知发送给自己，
                与 <a href="https://t.me/{{ bot_name }}">{{ bot_name }}</a>
                开始对话。
            </p>
            <p>
                <strong>频道：</strong>如果要将通知发送到 Telegram 频道，
                将 <a href="https://t.me/{{ bot_name }}">{{ bot_name }}</a>
                添加为频道的管理员。启用"发布消息"管理员权限，
                并禁用所有其他管理员权限。
            </p>
        </div>
        <div class="col-sm-6">
            <img
                class="ai-guide-screenshot"
                alt="Screenshot"
                src="{% static 'img/setup_telegram_1.png' %}">
        </div>
    </div>
    <div class="row ai-step">
        <div class="col-sm-6">
            <span class="step-no"></span>
            <p>输入 <strong><code>/start</code></strong> 命令。
               如果群组中有多个机器人，请改为输入
               <strong><code>/start@{{ bot_name }}</code></strong>。
           </p>
           <p>如果你希望 {{ site_name }} 将通知发布到<strong>特定的
              群组话题</strong>，请在该话题中发送 <strong><code>/start@{{ bot_name }}</code></strong>
              命令。
           </p>
            <p>机器人将回复一个确认链接。</p>
        </div>
        <div class="col-sm-6">
            <img
                class="ai-guide-screenshot"
                alt="Screenshot"
                src="{% static 'img/setup_telegram_2.png' %}">
        </div>    </div>

    <div class="row ai-step">
        <div class="col-sm-6">
            <span class="step-no"></span>
            <p>点击确认链接，{{ site_name }} 将在浏览器窗口中打开，
            要求你确认新的集成。</p>
            <p>选择要添加 Telegram 集成的项目，
            点击"连接 Telegram"，就完成了！</p>

        </div>
        <div class="col-sm-6">
            <img
                class="ai-guide-screenshot"
                alt="Screenshot"
                src="{% static 'img/setup_telegram_3.png' %}">
        </div>
    </div>
    {% endif %}
</div>
</div>
{% endblock %}