{% extends "base_project.html" %}
{% load compress static hc_extras %}

{% block title %}状态徽章 - {{ site_name }}{% endblock %}

{% block content %}
<div id="status-badges" class="row">
    <div class="col-sm-12">
        <h1>状态徽章</h1>
        <p>
            {{ site_name }} 为您使用的每个标签提供状态徽章。
            这些徽章拥有公开但难以猜测的 URL。
            您可以在 README、仪表盘或状态页面中使用它们。
        </p>
        <p>每个徽章可以处于以下状态之一：</p>
        <ul>
            <li><strong>正常</strong> – 所有匹配的检查项均正常。</li>
            <li><strong>异常</strong> – 至少有一个检查项当前异常。</li>
        </ul>
        <p>
            作为可选功能，徽章还可以报告第三种状态：
           <strong>延迟</strong>（当至少一个检查项运行延迟但尚未超过宽限期时）。
        </p>
    </div>

    <div class="col-md-4">
        <h2>徽章生成器</h2>
        {% csrf_token %}
        <form id="badge-settings-form">
        <div class="form-group">
            <p>为以下目标生成徽章</p>

            <label class="radio-container">
                <input type="radio" name="target" value="all" autocomplete="off" checked>
                <span class="radiomark"></span>
                项目中的所有检查项
            </label>
            {% if tags %}
            <label class="radio-container">
                <input type="radio" name="target" value="tag" autocomplete="off">
                <span class="radiomark"></span>
                使用此标签的检查项：
            </label>

            <select
                id="tag"
                name="tag"
                class="form-control"
                autocomplete="off">
                {% for tag in tags %}
                <option>{{ tag }}</option>
                {% endfor %}
            </select>
            {% endif %}
            {% if checks %}
            <label class="radio-container">
                <input type="radio" name="target" value="check" autocomplete="off">
                <span class="radiomark"></span>
                特定检查项：
            </label>

            <select
                id="check"
                name="check"
                class="form-control"
                autocomplete="off">
                {% for check in checks %}
                <option value="{{ check.code }}">{{ check.name_then_code }}</option>
                {% endfor %}
            </select>
            {% endif %}
        </div>
        <div class="form-group">
        <p>徽章格式</p>
            <label class="radio-container">
                <input type="radio" name="fmt" value="svg" autocomplete="off" checked>
                <span class="radiomark"></span> SVG
            </label>
            <label class="radio-container">
                <input type="radio" name="fmt" value="json" autocomplete="off">
                <span class="radiomark"></span> JSON
            </label>
            <label class="radio-container">
                <input type="radio" name="fmt" value="shields" autocomplete="off">
                <span class="radiomark"></span> Shields.io
            </label>
        </div>
        <div class="form-group">
            <p>徽章状态</p>
            <label class="radio-container">
                <input type="radio" name="states" value="2" autocomplete="off" checked>
                <span class="radiomark"></span>                     两种状态（<strong>正常</strong>、<strong>异常</strong>）
            </label>
            <label class="radio-container">
                <input type="radio" name="states" value="3" autocomplete="off">
                <span class="radiomark"></span>                     三种状态（<strong>正常</strong>、<strong>延迟</strong>或<strong>异常</strong>）
            </label>
        </div>
        </form>
    </div>
    <div id="preview" class="col-md-8">{% include "front/badges_preview.html" %}</div>
</div>
{% endblock %}

{% block scripts %}
{% compress js %}
<script src="{% static 'js/badges.js' %}"></script>
{% endcompress %}
{% endblock %}
