<h2>预览</h2>

{% if fmt == "json" %}
<pre class="fetch-json" data-url="{{ url }}"></pre>

<p>JSON 接口 URL</p>
<input
    class="form-control"
    type="text" name=""
    value="{{ url }}" readonly>

{% else %}
<img src="{{ url }}">
<p>徽章 URL</p>
<input
    class="form-control"
    type="text" name=""
    value="{{ url }}" readonly>
<p>HTML 代码</p>
<input
    class="form-control"
    type="text"
    name=""
    value="&lt;img src=&quot;{{ url }}&quot; alt=&quot;{{ label }}&quot;&gt;" readonly>
<p>Markdown 代码</p>
<input
    class="form-control"
    type="text"
    name=""
    value="![{{ label }}]({{ url }})" readonly>
{% endif %}