{% extends "base_project.html" %}
{% load compress humanize static hc_extras %}

{% block title %}集成 - {{ site_name }}{% endblock %}


{% block content %}
<div class="row">
{% if messages %}
<div class="col-sm-12">
    {% for message in messages %}
        <p class="alert alert-{{ message.tags }}">{{ message }}</p>
    {% endfor %}
</div>
{% endif %}

<div class="col-sm-12">
    {% if channels %}
    <table class="table channels-table {% if rw %}rw{% endif %}">
        <tr>
            <th></th>
            <th class="th-name">名称、详情</th>
            <th class="th-checks">已分配的检查项</th>
            <th>状态</th>
            <th>上次通知</th>
            <th></th>
        </tr>
        {% for ch in channels %}
        <tr class="channel-row kind-{{ ch.kind }}">
            <td class="icon-cell">
                <img src="{% static ch.icon_path %}" alt="{{ ch.get_kind_display }}" class="kind-{{ ch.kind }}" />
            </td>
            <td>
                <div class="edit-name" data-toggle="modal" data-target="#name-{{ ch.code }}">
                    {% if ch.name %}
                    {{ ch.name }}
                    {% else %}
                    <div class="unnamed">未命名</div>
                    {% endif %}
                    <div class="channel-details-mini">
                    {% include "front/channel_description.html" with ch=ch %}
                    </div>
                </div>
            </td>
            <td>
                <div class="edit-checks"
                     data-url="{% url 'hc-channel-checks' ch.code %}"
                     data-toggle="tooltip"
                     title="点击更改分配的检查项">
                     {{ ch.n_checks }} of {{ num_checks }}
                </div>
            </td>
            <td>
                {% if ch.disabled %}
                    <span class="label label-danger">已禁用</span>
                {% elif ch.kind == "email" and not ch.email_verified %}
                    <span class="label label-default">未确认</span>
                {% else %}
                    可正常发送
                {% endif %}
            </td>
            <td>
                {% if ch.last_notify %}
                    {% if ch.last_error %}
                    <span class="text-danger" data-toggle="tooltip" title="{{ ch.last_error }}">
                        <strong>失败</strong>，{{ ch.last_notify|naturaltime }}
                    </span>
                    {% else %}
                    已送达，{{ ch.last_notify|naturaltime }}
                    {% endif %}
                {% else %}
                从未
                {% endif %}
                {% if ch.kind == "sms" or ch.kind == "whatsapp" %}
                    <p>本月已使用 {{ profile.sms_sent_this_month }} / {{ profile.sms_limit }} 条短信。</p>
                {% endif %}
                {% if ch.kind == "call" %}
                    <p>本月已使用 {{ profile.calls_sent_this_month }} / {{ profile.call_limit }} 次电话呼叫。</p>
                {% endif %}
            </td>
            <td class="actions">
                {% if ch.is_editable and rw %}
                <a class="btn btn-sm btn-default" href="{% url 'hc-edit-channel' ch.code %}">
                    {% if ch.kind == "email" and ch.disabled %}修复&hellip;{% else %}编辑{% endif %}
                </a>
                {% endif %}
                <form action="{% url 'hc-channel-test' ch.code %}" method="post">
                    {% csrf_token %}
                    <button
                        class="btn btn-sm btn-default"
                        data-toggle="tooltip"
                        title="使用此集成发送测试通知"
                        type="submit">
                        测试！
                    </button>
                </form>
                {% if rw %}
                <button
                    data-kind="{{ ch.get_kind_display }}"
                    data-url="{% url 'hc-remove-channel' ch.code %}"
                    class="btn btn-sm btn-default channel-remove"
                    type="button">
                    <span class="ic-delete"></span>
                </button>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
        <div class="alert alert-danger">
            <p> 项目 "{{ project }}" 尚未设置任何集成。
            </p>
            <p>没有配置集成，{{ site_name }}
                在检查项状态变化时<strong>不会发送任何通知</strong>。
            </p>
        </div>
    {% endif %}


    {% if rw %}
    <h1 class="ai-title">添加更多</h1>
    <ul class="add-integration">
        <li>
            <img src="{% static 'img/email.png' %}"
                class="icon" alt="Email icon" />

            <h2>Email</h2>
            <p>当检查项状态变化时接收邮件通知。</p>
            <a href="{% url 'hc-add-email' project.code %}" class="btn btn-primary">添加集成</a>
        </li>

        {% if enable_webhooks %}
        <li>
            <img src="{% static 'img/webhook.png' %}"
                class="icon" alt="Webhook icon" />

            <h2>Webhook</h2>
            <p>当检查项异常时接收 HTTP 回调。</p>
            <a href="{% url 'hc-add-webhook' project.code %}" class="btn btn-primary">添加集成</a>
        </li>
        {% endif %}

        {% if enable_apprise %}
        <li>
            <img src="{% static 'img/apprise.png' %}"
                 class="icon" alt="Apprise icon" />

            <h2>Apprise</h2>
            <p>使用 Apprise 接收即时推送通知；查看<a href="https://github.com/caronc/apprise#popular-notification-services" >所有支持的服务</a>。</p>
            <a href="{% url 'hc-add-apprise' project.code %}" class="btn btn-primary">添加集成</a>
        </li>
        {% endif %}

        {% if enable_discord %}
        <li>
            <img src="{% static 'img/discord.png' %}"
                 class="icon" alt="Discord icon" />

            <h2>Discord</h2>
            <p>面向游戏玩家的跨平台语音和文字聊天应用。</p>
            <a href="{% url 'hc-add-discord' project.code %}" class="btn btn-primary">添加集成</a>
        </li>
        {% endif %}

        {% if enable_github %}
        <li>
            <img src="{% static 'img/github.png' %}" class="icon kind-github" alt="GitHub icon" />
            <h2>GitHub Issues</h2>
            <p> 当检查项异常时创建 GitHub Issue。</p>
            <a href="{% url 'hc-add-github' project.code %}" class="btn btn-primary">添加集成</a>
        </li>
        {% endif %}

        <li>
            <img src="{% static 'img/googlechat.png' %}" class="icon" alt="Google Chat icon" />
            <h2>Google Chat</h2>
            <p>Google 的团队通讯工具，Hangouts 的继任者。</p>
            <a href="{% url 'hc-add-googlechat' project.code %}" class="btn btn-primary">添加集成</a>
        </li>

        <li>
            <img src="{% static 'img/gotify.png' %}" class="icon" alt="Gotify icon" />
            <h2>Gotify</h2>
            <p> 自托管的推送通知服务。</p>
            <a href="{% url 'hc-add-gotify' project.code %}" class="btn btn-primary">添加集成</a>
        </li>

        <li>
            <img src="{% static 'img/group.png' %}" class="icon" alt="Group icon" />
            <h2>分组</h2>
            <p> 同时发送到多个集成。</p>
            <a href="{% url 'hc-add-group' project.code %}" class="btn btn-primary">添加集成</a>
        </li>

        {% if enable_matrix %}
        <li>
            <img src="{% static 'img/matrix.png' %}"
                 class="icon kind-matrix" alt="Matrix icon" />

            <h2>Matrix</h2>
            <p>向 Matrix 房间发送通知。</p>
            <a href="{% url 'hc-add-matrix' project.code %}" class="btn btn-primary">添加集成</a>
        </li>
        {% endif %}

        {% if enable_mattermost %}
        <li>
            <img src="{% static 'img/mattermost.png' %}"
                class="icon kind-mattermost" alt="Mattermost icon" />

            <h2>Mattermost</h2>
            <p>企业级高信任度消息传递平台。</p>
            <a href="{% url 'hc-add-mattermost' project.code %}" class="btn btn-primary">添加集成</a>
        </li>
        {% endif %}

        {% if enable_msteams %}
        <li>
            <img src="{% static 'img/msteams.png' %}"
                class="icon" alt="Microsoft Teams" />

            <h2>Microsoft Teams</h2>
            <p>面向 Microsoft Office 365 用户的聊天和协作平台。</p>
            <a href="{% url 'hc-add-msteams' project.code %}" class="btn btn-primary">添加集成</a>
        </li>
        {% endif %}

        <li>
            <img src="{% static 'img/ntfy.png' %}"
                class="icon kind-ntfy" alt="ntfy" />

            <h2>ntfy</h2>
            <p>通过 PUT/POST 向您的手机或桌面发送推送通知。</p>
            <a href="{% url 'hc-add-ntfy' project.code %}" class="btn btn-primary">添加集成</a>
        </li>

        {% if enable_opsgenie %}
        <li>
            <img src="{% static 'img/opsgenie.png' %}"
                class="icon" alt="Opsgenie icon" />

            <h2>Opsgenie</h2>
            <p> 面向开发与运维的告警与事件管理解决方案。</p>
            <a href="{% url 'hc-add-opsgenie' project.code %}" class="btn btn-primary">添加集成</a>
        </li>
        {% endif %}

        {% if enable_pd %}
        <li>
            <img src="{% static 'img/pd.png' %}"
                class="icon" alt="PagerDuty icon" />

            <h2>PagerDuty</h2>
            <p>值班排班、告警和事件跟踪。</p>
            <a href="{% url 'hc-add-pd' project.code %}" class="btn btn-primary">添加集成</a>
        </li>
        {% endif %}

        {% if enable_pagertree %}
        <li>
            <img src="{% static 'img/pagertree.png' %}"
                class="icon" alt="PagerTree icon" />

            <h2>PagerTree</h2>
            <p>DevOps 事件管理 - 值班排班、告警与通知。</p>
            <a href="{% url 'hc-add-pagertree' project.code %}" class="btn btn-primary">添加集成</a>
        </li>
        {% endif %}

        {% if enable_call %}
        <li>
            <img src="{% static 'img/call.png' %}"
                class="icon" alt="Phone icon" />

            <h2>电话呼叫</h2>
            <p>当检查项异常时接听电话通知。</p>
            <a href="{% url 'hc-add-call' project.code %}" class="btn btn-primary">添加集成</a>
        </li>
        {% endif %}

        {% if enable_prometheus %}
        <li>
            <img src="{% static 'img/prometheus.png' %}"
                class="icon" alt="Prometheus icon" />

            <h2>Prometheus</h2>
            <p>将检查项和标签状态值导出到 Prometheus。</p>
            <a href="{% url 'hc-add-prometheus' project.code %}" class="btn btn-primary">添加集成</a>
        </li>
        {% endif %}

        {% if enable_pushbullet %}
        <li>
            <img src="{% static 'img/pushbullet.png' %}"
                 class="icon" alt="Pushbullet icon" />

            <h2>Pushbullet</h2>
            <p>Pushbullet 连接您的设备，让它们融为一体。</p>
            <a href="{% url 'hc-add-pushbullet' project.code %}" class="btn btn-primary">添加集成</a>
        </li>
        {% endif %}

        {% if enable_pushover %}
        <li>
            <img src="{% static 'img/po.png' %}"
                 class="icon" alt="Pushover icon" />

            <h2>Pushover</h2>
            <p>在手机或平板上接收即时推送通知。</p>
            <a href="{% url 'hc-add-pushover' project.code %}" class="btn btn-primary">添加集成</a>
        </li>
        {% endif %}

        {% if enable_rocketchat %}
        <li>
            <img src="{% static 'img/rocketchat.png' %}"
                class="icon" alt="Rocket.Chat icon" />

            <h2>Rocket.Chat</h2>
            <p>面向高数据保护标准组织的开源通讯平台。</p>
            <a href="{% url 'hc-add-rocketchat' project.code %}" class="btn btn-primary">添加集成</a>
        </li>
        {% endif %}

        {% if enable_shell %}
        <li>
            <img src="{% static 'img/shell.png' %}"
                class="icon" alt="Shell icon" />

            <h2>Shell 命令</h2>
            <p>当检查项状态变化时执行本地 shell 命令。</p>
            <a href="{% url 'hc-add-shell' project.code %}" class="btn btn-primary">添加集成</a>
        </li>
        {% endif %}

        {% if enable_signal %}
        <li>
            <img src="{% static 'img/signal.png' %}"
                class="icon" alt="Signal icon" />

            <h2>Signal</h2>
            <p>当检查项状态变化时接收 Signal 消息。</p>
            <a href="{% url 'hc-add-signal' project.code %}" class="btn btn-primary">添加集成</a>
        </li>
        {% endif %}

        {% if enable_slack %}
        <li>
            <img src="{% static 'img/slack.png' %}"
                class="icon" alt="Slack icon" />

            <h2>Slack</h2>
            <p>面向团队的消息应用。</p>
            {% if enable_slack_btn %}
            <a href="{% url 'hc-add-slack-btn' project.code %}" class="btn btn-primary">添加集成</a>
            {% else %}
            <a href="{% url 'hc-add-slack' project.code %}" class="btn btn-primary">添加集成</a>
            {% endif %}
        </li>
        {% endif %}

        {% if enable_sms %}
        <li>
            <img src="{% static 'img/sms.png' %}"
                class="icon" alt="SMS icon" />

            <h2>SMS</h2>
            <p>当检查项异常时发送短信到您的手机。</p>
            <a href="{% url 'hc-add-sms' project.code %}" class="btn btn-primary">添加集成</a>
        </li>
        {% endif %}

        {% if enable_spike %}
        <li>
            <img src="{% static 'img/spike.png' %}" class="icon" alt="Spike.sh icon" />

            <h2>Spike.sh</h2>
            <p>包含无限告警和值班排班的事件管理。</p>

                <a href="{% url 'hc-add-spike' project.code %}" class="btn btn-primary">添加集成</a>
        </li>
        {% endif %}

        {% if enable_telegram %}
        <li>
            <img src="{% static 'img/telegram.png' %}"
                 class="icon" alt="Telegram icon" />

            <h2>Telegram</h2>
            <p>注重速度和安全的消息应用。</p>
            <a href="{% url 'hc-add-telegram' %}" class="btn btn-primary">添加集成</a>
        </li>
        {% endif %}

        {% if enable_trello %}
        <li>
            <img src="{% static 'img/trello.png' %}"
                 class="icon" alt="Trello icon" />

            <h2>Trello</h2>
            <p>当检查项异常时创建 Trello 卡片。</p>
            <a href="{% url 'hc-add-trello' project.code %}" class="btn btn-primary">添加集成</a>
        </li>
        {% endif %}

        {% if enable_victorops %}
        <li>
            <img src="{% static 'img/victorops.png' %}"
                class="icon" alt="Splunk On-Call icon" />

            <h2>Splunk On-Call (VictorOps)</h2>
            <p>值班排班、告警和事件跟踪。</p>
            <a href="{% url 'hc-add-victorops' project.code %}" class="btn btn-primary">添加集成</a>
        </li>
        {% endif %}

        {% if enable_whatsapp %}
        <li>
            <img src="{% static 'img/whatsapp.png' %}"
                class="icon" alt="WhatsApp icon" />

            <h2>WhatsApp</h2>
            <p>当检查项状态变化时接收 WhatsApp 消息。</p>
            <a href="{% url 'hc-add-whatsapp' project.code %}" class="btn btn-primary">添加集成</a>
        </li>
        {% endif %}

        {% if enable_zulip %}
        <li>
            <img src="{% static 'img/zulip.png' %}"
                class="icon" alt="Zulip icon" />

            <h2>Zulip</h2>
            <p>开源群组聊天。</p>
            <a href="{% url 'hc-add-zulip' project.code %}" class="btn btn-primary">添加集成</a>
        </li>
        {% endif %}

        <li class="link-to-github">
            <img src="{% static 'img/missing.png' %}"
                 class="icon" alt="建议新集成" />
            <p>
                您喜欢的服务或通知方式不在列表中？<br />
                请在 <a href="https://github.com/healthchecks/healthchecks/issues">GitHub 上提交 Issue</a>！
            </p>
        </li>

    </ul>
    {% endif %}
</div>
</div>

<div id="checks-modal" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
        </div>
    </div>
</div>

<div id="remove-channel-modal" class="modal">
    <div class="modal-dialog">
        <form id="remove-channel-form" method="post">
            {% csrf_token %}
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4>
                        移除
                        <span class="remove-channel-kind">---</span>
                        集成？
                    </h4>
                </div>
                <div class="modal-body">
                    <p>您即将移除
                        <span class="remove-channel-kind">---</span>
                    集成。
                    </p>
                    <p>一旦删除无法撤销。但如果您改变主意，以后可以重新创建类似的通道。
                    是否继续？</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="submit" class="btn btn-danger">移除</button>
                </div>
            </div>
        </form>
    </div>
</div>

{% if rw  %}
{% for ch in channels %}
<div id="name-{{ ch.code }}" class="modal channel-modal">
    <div class="modal-dialog">
        <form
            action="{% url 'hc-channel-name' ch.code %}"
            class="form-horizontal"
            method="post">
            {% csrf_token %}
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4>集成详情</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">
                            名称
                        </label>
                        <div class="col-sm-10">
                            <input
                                name="name"
                                type="text"
                                maxlength="100"
                                value="{{ ch.name }}"
                                placeholder="{{ ch }}"
                                class="input-name form-control" />

                            <span class="help-block">
                                为此集成设置一个易识别的名称，方便以后识别。
                            </span>
                        </div>
                    </div>

                    {% if ch.kind == "webhook" %}
                    {% with ch.down_webhook_spec as spec %}
                        {% if spec.url %}
                            <p><strong>在"异常"事件时执行：</strong></p>
                            <pre>{{ spec.method }} {{ spec.url }}</pre>
                            {% if spec.body %}
                                <p>请求正文</p>
                                <pre>{{ spec.body }}</pre>
                            {% endif %}

                            {% if spec.headers %}
                                <p>请求头部</p>
                                <pre>{{ spec.headers|format_headers }}</pre>
                            {% endif %}
                        {% endif %}
                        {% endwith %}

                        {% with ch.up_webhook_spec as spec %}
                        {% if spec.url %}
                            <p><strong>在"恢复"事件时执行：</strong></p>
                            <pre>{{ spec.method }} {{ spec.url }}</pre>
                            {% if spec.body %}
                                <p>请求正文</p>
                                <pre>{{ spec.body }}</pre>
                            {% endif %}

                            {% if spec.headers %}
                                <p>请求头部</p>
                                <pre>{{ spec.headers|format_headers }}</pre>
                            {% endif %}
                        {% endif %}
                    {% endwith %}
                    {% endif %}


                    {% if ch.kind == "shell" %}
                        {% if ch.shell.cmd_down %}
                            <p><strong>在"异常"事件时执行：</strong></p>
                            <pre>{{ ch.shell.cmd_down }}</pre>
                        {% endif %}

                        {% if ch.shell.cmd_up %}
                            <p><strong>在"恢复"事件时执行：</strong></p>
                            <pre>{{ ch.shell.cmd_up }}</pre>
                        {% endif %}
                    {% endif %}
                </div>
                <div class="modal-footer">
                    {% if ch.kind == "webhook" %}
                    <a class="btn btn-default pull-left" href="{% url 'hc-edit-channel' ch.code %}">编辑 Webhook 参数&hellip;</a>
                    {% endif %}
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="submit" class="btn btn-primary">保存</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endfor %}
{% endif %}

{% endblock %}

{% block scripts %}
{% compress js %}
<script src="{% static 'js/channels.js' %}"></script>
{% endcompress %}
{% endblock %}
