{% load humanize hc_extras %}

{% if checks %}
<form method="post">
{% csrf_token %}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h4>分配检查项到集成 <small>(<span id="num-assigned">{{ assigned|length }}</span> / {{ checks|length }})</small></h4>
</div>

<input type="hidden" name="channel" value="{{ channel.code }}" />
<div id="channel-checks-table-container">
<table class="table channel-checks-table">
    {% for check in checks %}
    <tr>
        <td>
            <input type="checkbox" {% if check.code in assigned %} checked {% endif %} name="check-{{ check.code }}">
        </td>
        <td>
            {% if check.name %}
                {{ check.name }}
            {% else %}
                <span class="unnamed">未命名</span>
            {% endif %}
        </td>
        <td>
            <code>{{ check.code }}</code>
        </td>
    </tr>
    {% endfor %}
</table>
</div>

<div class="modal-footer">
    <button
        id="select-all"
        type="button"
        {% if assigned|length == checks|length%}disabled{% endif%}
        class="btn btn-default btn-sm pull-left">全选</button>
    <button
        id="unselect-all"
        {% if assigned|length == 0 %}disabled{% endif %}
        type="button"
        class="btn btn-default btn-sm pull-left">取消全选</button>

    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
    <button type="submit" class="btn btn-primary">保存更改</button>
</div>
</form>
{% else %}
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h4>分配检查项到集成</h4>
</div>
<div class="modal-body">
    <p>
        此对话框通常显示项目中的检查项列表，让您将检查项分配到此集成。
        但目前 <strong>{{ channel.project }}</strong> 中没有检查项。
        请添加检查项后再来！
    </p>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">知道了</button>
</div>
{% endif %}
