<div id="clear-events-modal" class="modal">
    <div class="modal-dialog">
        <form action="{% url 'hc-clear-events' check.code %}" method="post">
            {% csrf_token %}
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4>清除 <span class="remove-check-name">{{ check.name_then_code }}</span> 的事件</h4>
                </div>
                <div class="modal-body">
                    <p>您即将清除检查项 <strong class="remove-check-name">{{ check.name_then_code }}</strong> 的所有已记录 Ping 和通知。
                    </p>
                    <p>确定要这样做吗？</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="submit" class="btn btn-danger">清除事件</button>
                </div>
            </div>
        </form>
    </div>
</div>