<div id="copy-modal" class="modal">
    <div class="modal-dialog">
        <form action="{% url 'hc-copy' check.code %}" method="post">
            {% csrf_token %}
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4>创建此检查项的副本</h4>
                </div>
                <div class="modal-body">
                    <p>您即将<strong>基于此检查项的配置创建新的检查项</strong>。以下项目将被复制：</p>
                    <ul class="checkmarks">
                        <li>名称、标签和描述</li>
                        <li>计划</li>
                        <li>已分配的通知方式</li>
                    </ul>
                    <p>以下项目<em>不会</em>被复制：</p>
                    <ul class="crosses">
                        <li>其 URL（将生成新的 URL）</li>
                        <li>已接收到的 Ping 日志</li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="submit" class="btn btn-primary">创建副本</button>
                </div>
            </div>
        </form>
    </div>
</div>