{% load humanize tz %}

{% if form.schedule.errors %}
<p id="invalid-arguments">
    无效的 Cron 表达式。<br />
    请查看<a href="{% url 'hc-docs-cron' %}">支持的 Cron 语法功能</a>。

</p>
{% elif form.tz.errors %}
<p id="invalid-arguments">无效的时区。</p>
{% else %}
{% if desc %}<div id="cron-description">“{{ desc }}”</div>{% endif %}
<table id="cron-preview-table" class="table">
    <tr><th id="cron-preview-title" colspan="3">预期的 Ping 日期</th></tr>
    {% for d in dates %}
    <tr>
        {% timezone tz %}
        <td>{{ d|date:"M j, H:i" }}</td>
        {% endtimezone %}
        <td>{{ d|naturaltime }}</td>
        <td class="hidden-xs">{{ d|date:"c" }}</td>
    </tr>
    {% endfor %}
</table>
{% endif %}
