{% load hc_extras tz %}
{% timezone tz %}
<table id="downtimes" class="table">
    {% for d in downtimes %}
    <tr>
        <th>{{ d.boundary|date:"N Y"}}</th>
        <td>
            {% if d.no_data %}
                –
            {% elif d.count %}
                宕机 {{ d.count }} 次，共 {{ d.duration|hc_approx_duration }}
                <span class="uptime">{{ d.monthly_uptime|pct }}% uptime</span>
            {% else %}
                一切正常！
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
{% endtimezone %}
