{% extends "base_project.html" %}
{% load compress humanize static hc_extras %}

{% block title %}{{ check|down_title }}{% endblock %}
{% block favicon %}
    {% if check.status == "down" %}
    <link rel="icon" type="image/svg+xml" href="{% static 'img/favicon_down.svg' %}">
    {% else %}
    <link rel="icon" type="image/svg+xml" href="{% static 'img/favicon.svg' %}">
    {% endif %}
{% endblock %}


{% block content %}

<div class="row">
    {% if is_copied %}
    <div class="col-sm-12">
        <p id="new-check-alert" class="alert alert-success">
            <strong>副本已创建！</strong>
            这是一个全新的检查项，其详情从现有检查项复制而来。
            您现在可能需要
            <a data-target="edit-name" href="#">更新其名称和标签</a>。
        </p>
    </div>
    {% endif %}

    {% if messages %}
    <div class="col-sm-12">
        {% for message in messages %}
            <p class="alert alert-{{ message.tags }}">{{ message }}</p>
        {% endfor %}
    </div>
    {% endif %}

    <div id="details-head" class="col-sm-12">
        <h1>
            {{ check.name_then_code }}
            {% if rw %}
            <small><a id="edit-name" href="#">（编辑&hellip;）</a></small>
            {% endif %}
        </h1>
        {% for tag in check.tags_list %}
            <span class="label label-tag">{{ tag }}</span>
        {% endfor %}
    </div>

    <div class="col-sm-5">
        {% if rw %}
        <div class="details-block">
            <h2>描述</h2>
            {% if check.desc %}
            {{ check.desc|linebreaks|urlize }}
            <div class="text-right">
                <button id="edit-desc" class="btn btn-sm btn-default">
                    编辑描述&hellip;
                </button>
            </div>
            {% else %}
            <small><a id="edit-desc" href="#">添加描述&hellip;</a></small>
            {% endif %}
        </div>
        {% elif check.desc %}
        <div class="details-block">
            <h2>Description</h2>
            {{ check.desc|linebreaks|urlize }}
        </div>
        {% endif %}

        <div id="how-to-ping" class="details-block">
            <h2>
                如何 Ping
                {% if rw %}
                    <div class="btn-group pull-right">
                        <a href="?urls=uuid" class="btn btn-default btn-xs {% if not project.show_slugs %}active{% endif %}">uuid</a>
                        <a href="?urls=slug" class="btn btn-default btn-xs {% if project.show_slugs %}active{% endif %}">slug</a>
                </div>
                {% endif %}
            </h2>
            <div>
                <p>
                    通过向此 URL 发送 HTTP
                    {% if check.methods == "POST" %}POST{% endif %}
                    请求来保持此检查项正常：
                </p>
                {% if check.url %}
                <code class="click-to-copy">{{ check.url }}</code>
                {% else %}
                <code>（不可用，请先设置标识）</code>
                {% endif %}
                <p>或通过发送邮件到：</p>
                {% if check.email %}
                <code class="click-to-copy">{{ check.email }}</code>
                {% else %}
                <code>（不可用，请先设置标识）</code>
                {% endif %}

                {% if rw and project.show_slugs and not project.ping_key %}
                <p class="alert alert-info">
                    Ping 密钥尚未设置。前往
                    <a href="{% url 'hc-project-settings' project.code %}">项目设置</a>
                    生成它。
                </p>
                {% endif %}

                <p>您还可以显式
                    <a href="{% url 'hc-serve-doc' 'signaling_failures' %}">
                        标记失败</a>
                    和
                    <a href="{% url 'hc-serve-doc' 'measuring_script_run_time' %}">
                        测量任务执行时间</a>。
                </p>
            </div>
            <div class="text-right">
                {% if rw %}
                <button
                    data-toggle="modal"
                    data-target="#filtering-rules-modal"
                    class="btn btn-sm btn-default">过滤规则&hellip;</button>
                {% endif %}
                {% if check.url %}
                <button
                    data-toggle="modal"
                    data-target="#show-usage-modal"
                    class="btn btn-sm btn-default">使用示例</button>
                {% endif %}
            </div>
        </div>

        <div class="details-block">
            <h2>当前状态</h2>
            <div id="current-status-indicator">
                <span id="current-status-icon" class="status ic-{{ check.get_status }}"></span>
                <div id="current-status-spinner" class="spinner {% if check.last_start %}started{% endif %}"></div>
            </div>
            <div id="current-status-content">
                <p id="current-status-text">{% include "front/log_status_text.html" %}</p>
                {% include "front/details_downtimes.html" %}
            </div>
            <div class="text-right">
                {% if rw %}
                <form action="{% url 'hc-pause' check.code %}" method="post">
                    {% csrf_token %}
                    <input
                        id="pause-btn"
                        type="submit"
                        {% if check.status == "paused" %}disabled{% endif %}
                        class="btn btn-sm btn-default" value="暂停" />
                </form>
                {% endif %}

                {% if check.url %}
                {% if project.show_slugs and not project.ping_key %}
                    {% if rw %}
                    <button
                        data-toggle="modal"
                        data-target="#no-ping-key-modal"
                        class="btn btn-sm btn-default">立即 Ping！</button>
                    {% endif %}
                {% else %}
                <button
                    id="ping-now"
                    data-url="{{ check.url }}"
                    class="btn btn-sm btn-default">立即 Ping！</button>
                {% endif %}
                {% endif %}
            </div>
        </div>

        <div class="details-block">
            <h2>计划</h2>
            <table id="details-schedule">
                <tr>
                    {% if check.kind == "simple" %}
                    <th>周期</th>
                    <td>
                        <span class="value">{{ check.timeout|hc_duration }}</span>
                        <div class="subtitle">
                            （预期的两次 Ping 间隔时间）
                        </div>
                    </td>
                    {% elif check.kind == "cron" %}
                    <th>Cron 表达式</th>
                    <td>
                        <span class="value">{{ check.schedule }}</span>
                    </td>
                    {% elif check.kind == "oncalendar" %}
                    <th>OnCalendar 表达式</th>
                    <td>
                        <span class="value">{{ check.schedule|linebreaksbr }}</span>
                    </td>
                    {% endif %}
                </tr>
                {% if check.kind == "cron" or check.kind == "oncalendar" %}
                <tr>
                    <th>时区</th>
                    <td>
                        <span class="value">{{ check.tz }}</span>
                    </td>
                </tr>
                {% endif %}
                <tr>
                    <th>宽限期</th>
                    <td>
                        <span class="value">{{ check.grace|hc_duration }}</span>
                        <div class="subtitle">
                            （当检查项延迟时，等待多久发送告警）
                        </div>
                    </td>
                </tr>
            </table>
            {% if rw %}
            <div class="text-right rw">
                <button
                    id="edit-timeout"
                    class="btn btn-sm btn-default timeout-grace"
                    data-code="{{ check.code }}"
                    data-status-url="{% url 'hc-status-single' check.code %}"
                    data-kind="{{ check.kind }}"
                    data-timeout="{{ check.timeout.total_seconds|floatformat:'0' }}"
                    data-grace="{{ check.grace.total_seconds|floatformat:'0' }}"
                    data-schedule="{{ check.schedule }}"
                    data-tz="{{ check.tz }}">
                    更改计划&hellip;</button>
            </div>
            {% endif %}
        </div>

        <div class="details-block">
            {% if group_channels %}
            <h2>通知分组</h2>
            <table class="details-integrations table {% if rw %}rw{% endif %}">
                {% for channel in group_channels %}
                    <tr data-url="{% url 'hc-switch-channel' check.code channel.code %}" {% if channel in enabled_channels %}class="on"{% endif %}>
                        <th>
                            <span class="label">
                                {% if channel in enabled_channels %}开启{% else %}关闭{% endif %}
                            </span>
                        </th>
                        <td>
                            <span class="ic">{{ channel.kind }}</span>
                            {{ channel }}
                        </td>
                    </tr>
                {% endfor %}
            </table>
            {% endif %}
            <h2>通知方式</h2>
            {% if channels %}
            <table class="details-integrations table {% if rw %}rw{% endif %}">
            {% for channel in channels %}
                <tr data-url="{% url 'hc-switch-channel' check.code channel.code %}" {% if channel in enabled_channels %}class="on"{% endif %}>
                    <th>
                        <span class="label">
                            {% if channel in enabled_channels %}ON{% else %}OFF{% endif %}
                        </span>
                    </th>
                    <td>
                        <span class="ic">{{ channel.kind }}</span> {{ channel }}
                    </td>
                </tr>
            {% endfor %}
            </table>
            {% else %}
            <div class="alert no-channels">
                尚未设置任何通知方式。
                <br />
                在
                <a href="{% url 'hc-channels' project.code %}">集成</a>
                页面设置您偏好的通知方式。
            </div>
            {% endif %}
        </div>

        {% if rw %}
        <div class="details-block">
            <h2>危险区域</h2>
            <p>复制、转移或永久移除此检查项。</p>

            <div class="text-right">
                {% if project.num_checks_available > 0 %}
                <button
                    data-toggle="modal"
                    data-target="#copy-modal"
                    class="btn btn-sm btn-default">创建副本&hellip;</button>
                {% endif %}
                <button
                    id="transfer-btn"
                    data-toggle="modal"
                    data-target="#transfer-modal"
                    data-url="{% url 'hc-transfer' check.code %}"
                    class="btn btn-sm btn-default">
                    转移<span class="hidden-sm hidden-xs">到其他项目</span>&hellip;
                </button>
                &nbsp;
                <button
                    data-toggle="modal"
                    data-target="#clear-events-modal"
                    class="btn btn-sm btn-remove">清除事件</button>
                <button
                    data-toggle="modal"
                    data-target="#remove-check-modal"
                    class="btn btn-sm btn-remove">移除</button>
            </div>
        </div>
        {% endif %}
    </div>

    <div id="events" class="col-sm-7" data-status-url="{% url 'hc-status-single' check.code %}">
        <h2>
            事件
            <small class="hidden-xs">点击单个项目查看详情</small>
            <div id="tz-switcher" class="btn-group pull-right" data-toggle="buttons">
                {% for tz in tz_switches %}
                <label class="btn btn-default btn-xs {% if forloop.last %}active{% endif %}" data-tz="{{ tz }}">
                    <input type="radio" name="tz-switcher-value"> {{ tz }}
                </label>
                {% endfor %}
            </div>
        </h2>

        <div id="log-container"></div>

    </div>
</div>

<div id="ping-details-modal" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="ping-details-body">加载中</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">知道了！</button>
            </div>
        </div>
    </div>
</div>

<div id="transfer-modal" class="modal"></div>

<form id="resume-form" action="{% url 'hc-resume' check.code %}" method="post">
    {% csrf_token %}
</form>


{% include "front/update_name_modal.html" %}
{% include "front/update_timeout_modal.html" %}
{% include "front/show_usage_modal.html" %}
{% include "front/remove_check_modal.html" %}
{% include "front/clear_events_modal.html" %}
{% include "front/filtering_rules_modal.html" %}
{% include "front/copy_modal.html" %}

{% if rw and project.show_slugs and not project.ping_key %}
<div id="no-ping-key-modal" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4>需要 Ping 密钥</h4>
            </div>
            <div class="modal-body">
                <p>此项目尚未设置 Ping 密钥。<br />
                   要 Ping 此检查项，请先生成 Ping 密钥。
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <a href="{% url 'hc-project-settings' project.code %}" class="btn btn-primary">打开项目设置</a>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% endblock %}

{% block scripts %}
<script id="common-timezones" type="data">{{ common_timezones|join:"," }}</script>
<script id="all-timezones" type="data">{{ timezones|join:"," }}</script>
{% compress js %}
<script src="{% static 'js/tom-select.popular.min.js' %}"></script>
<script src="{% static 'js/nouislider.min.js' %}"></script>
<script src="{% static 'js/snippet-copy.js' %}"></script>
<script src="{% static 'js/dates.js' %}"></script>
<script src="{% static 'js/purify.min.js' %}"></script>
<script src="{% static 'js/initialize-timezone-selects.js' %}"></script>
<script src="{% static 'js/update-timeout-modal.js' %}"></script>
<script src="{% static 'js/adaptive-setinterval.js' %}"></script>
<script src="{% static 'js/ping_details.js' %}"></script>
<script src="{% static 'js/details.js' %}"></script>
<script src="{% static 'js/slug-suggestions.js' %}"></script>
{% endcompress %}
{% endblock %}
