{% extends "base.html" %}
{% load compress hc_extras static %}

{% block title %}Cron 表达式语法速查表 - {{ site_name }}{% endblock %}

{% block description %}
    <meta name="description" content="主要 Cron 语法功能的直观示例：数值、逗号、范围、带步进的范围、日期和月份名称。">
{% endblock %}

{% block keywords %}
    <meta name="keywords" content="cron 语法, crontab 语法, cron 教程, cron 任务, cron 任务示例, 监控 cron 任务">
{% endblock %}

{% block content %}

<h1>Cron 表达式语法速查表</h1>

<p>
    {{ site_name }} 支持大多数传统 cron 语法功能。
    底层使用
    <a href="https://github.com/cuu508/cronsim">cronsim 包</a>
    来解析和解释 cron 表达式。以下是所支持语法功能的展示。
</p>
<p>
    <strong>专业提示！</strong>
    在类 Unix 操作系统上，您还可以通过在 shell 中输入 <code>man 5 crontab</code>
    来轻松访问 cron 语法文档。
</p>
<br />

<div id="cron-examples">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">基础</h3>
        </div>
        <div class="panel-body">
            <p>Cron 表达式包含五个字段，用空格分隔。
            星号是通配符，表示"任意值"。
            </p>

            <div class="desc">"每分钟运行"</div>

            <table class="cron-example">
                <tr>
                    <th><div>* <span></span></div></th>
                    <th><div>*</div></th>
                    <th><div>*</div></th>
                    <th><div>*</div></th>
                    <th><div>*</div></th>
                </tr>
                <tr>
                    <td rowspan="5">
                        <div class="guide"></div>
                    </td>
                    <td rowspan="4">
                        <div class="guide"></div>
                    </td>
                    <td rowspan="3">
                        <div class="guide"></div>
                    </td>
                    <td rowspan="2">
                        <div class="guide"></div>
                    </td>
                    <td>
                        <div class="guide"></div>
                    </td>
                    <td>星期，0 - 7，0 或 7 表示周日</td>
                </tr>
                <tr>
                    <td colspan="2">
                        月份，1 - 12
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        日期，1 - 31
                    </td>
                </tr>
                <tr>
                    <td colspan="4">
                        小时，0 - 23
                    </td>
                </tr>
                <tr>
                    <td colspan="5">
                        分钟，0 - 59
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">数值</h3>
        </div>
        <div class="panel-body">
            <p>使用数值代替星号来匹配特定的分钟、小时、日期和月份。
            </p>

            <div class="desc">"在周五下午 6 点运行"</div>

            <table class="cron-example">
                <tr>
                    <th><div>0 <span></span></div></th>
                    <th><div>18</div></th>
                    <th><div>*</div></th>
                    <th><div>*</div></th>
                    <th><div>5</div></th>
                </tr>
                <tr>
                    <td rowspan="5">
                        <div class="guide"></div>
                    </td>
                    <td rowspan="4">
                        <div class="guide"></div>
                    </td>
                    <td rowspan="3">
                        <div class="guide"></div>
                    </td>
                    <td rowspan="2">
                        <div class="guide"></div>
                    </td>
                    <td>
                        <div class="guide"></div>
                    </td>
                    <td>仅在周五运行</td>
                </tr>
                <tr>
                    <td colspan="2" class="minor">
                        每年的每个月都运行
                    </td>
                </tr>
                <tr>
                    <td colspan="3" class="minor">
                        每月的每天都运行
                    </td>
                </tr>
                <tr>
                    <td colspan="4">
                        在下午 6 点运行
                    </td>
                </tr>
                <tr>
                    <td colspan="5">
                        在整点运行
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">逗号</h3>
        </div>
        <div class="panel-body">
            <p>使用 <code>{v1},{v2},...,{vn}</code> 列出多个值。</p>

            <div class="desc">"每天早上 9 点、中午 12 点和下午 6 点运行"</div>

            <table class="cron-example">
                <tr>
                    <th><div>0 <span></span></div></th>
                    <th><div>9,12,18</div></th>
                    <th><div>*</div></th>
                    <th><div>*</div></th>
                    <th><div>*</div></th>
                </tr>
                <tr>
                    <td rowspan="5">
                        <div class="guide"></div>
                    </td>
                    <td rowspan="4">
                        <div class="guide"></div>
                    </td>
                    <td rowspan="3">
                        <div class="guide"></div>
                    </td>
                    <td rowspan="2">
                        <div class="guide"></div>
                    </td>
                    <td>
                        <div class="guide"></div>
                    </td>
                    <td class="minor">每个工作日运行</td>
                </tr>
                <tr>
                    <td colspan="2" class="minor">
                        每年的每个月都运行
                    </td>
                </tr>
                <tr>
                    <td colspan="3" class="minor">
                        每月的每天都运行
                    </td>
                </tr>
                <tr>
                    <td colspan="4">
                        在早上 9 点、中午 12 点和下午 6 点运行
                    </td>
                </tr>
                <tr>
                    <td colspan="5">
                        在整点运行
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">数值范围</h3>
        </div>
        <div class="panel-body">
            <p>使用 <code>{start}-{end}</code> 定义匹配值的范围。</p>

            <div class="desc">"在工作日每分钟运行"</div>

            <table class="cron-example">
                <tr>
                    <th><div>* <span></span></div></th>
                    <th><div>*</div></th>
                    <th><div>*</div></th>
                    <th><div>*</div></th>
                    <th><div>1-5</div></th>
                </tr>
                <tr>
                    <td rowspan="5">
                        <div class="guide"></div>
                    </td>
                    <td rowspan="4">
                        <div class="guide"></div>
                    </td>
                    <td rowspan="3">
                        <div class="guide"></div>
                    </td>
                    <td rowspan="2">
                        <div class="guide"></div>
                    </td>
                    <td>
                        <div class="guide"></div>
                    </td>
                    <td>周一至周五运行</td>
                </tr>
                <tr>
                    <td colspan="2" class="minor">
                        每年的每个月都运行
                    </td>
                </tr>
                <tr>
                    <td colspan="3" class="minor">
                        每月的每天都运行
                    </td>
                </tr>
                <tr>
                    <td colspan="4" class="minor">
                        每天的每小时都运行
                    </td>
                </tr>
                <tr>
                    <td colspan="5" class="minor">
                        每小时的每分钟都运行
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">带步进的范围</h3>
        </div>
        <div class="panel-body">
            <p>使用 <code>{start}-{end}/{step}</code> 或 <code>*/{step}</code>
               定义带步进的范围。</p>

            <div class="desc">"每 15 分钟运行"</div>

            <table class="cron-example">
                <tr>
                    <th><div>*/15 <span></span></div></th>
                    <th><div>*</div></th>
                    <th><div>*</div></th>
                    <th><div>*</div></th>
                    <th><div>*</div></th>
                </tr>
                <tr>
                    <td rowspan="5">
                        <div class="guide"></div>
                    </td>
                    <td rowspan="4">
                        <div class="guide"></div>
                    </td>
                    <td rowspan="3">
                        <div class="guide"></div>
                    </td>
                    <td rowspan="2">
                        <div class="guide"></div>
                    </td>
                    <td>
                        <div class="guide"></div>
                    </td>
                    <td class="minor">每个工作日运行</td>
                </tr>
                <tr>
                    <td colspan="2" class="minor">
                        每年的每个月都运行
                    </td>
                </tr>
                <tr>
                    <td colspan="3" class="minor">
                        每月的每天都运行
                    </td>
                </tr>
                <tr>
                    <td colspan="4" class="minor">
                        每天的每小时都运行
                    </td>
                </tr>
                <tr>
                    <td colspan="5">
                        每 15 分钟运行
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">在列表中组合数值和范围</h3>
        </div>
        <div class="panel-body">
            <p>在逗号分隔的列表中，您不仅可以组合数值，还可以组合范围。</p>

            <div class="desc">"在非工作时间的每个整点运行"</div>

            <table class="cron-example">
                <tr>
                    <th><div>0 <span></span></div></th>
                    <th><div>18-23,0-8</div></th>
                    <th><div>*</div></th>
                    <th><div>*</div></th>
                    <th><div>*</div></th>
                </tr>
                <tr>
                    <td rowspan="5">
                        <div class="guide"></div>
                    </td>
                    <td rowspan="4">
                        <div class="guide"></div>
                    </td>
                    <td rowspan="3">
                        <div class="guide"></div>
                    </td>
                    <td rowspan="2">
                        <div class="guide"></div>
                    </td>
                    <td>
                        <div class="guide"></div>
                    </td>
                    <td class="minor">每个工作日运行</td>
                </tr>
                <tr>
                    <td colspan="2" class="minor">
                        每年的每个月都运行
                    </td>
                </tr>
                <tr>
                    <td colspan="3" class="minor">
                        每月的每天都运行
                    </td>
                </tr>
                <tr>
                    <td colspan="4">
                        在下午 6 点、7 点、8 点、...、早上 7 点、8 点运行
                    </td>
                </tr>
                <tr>
                    <td colspan="5">
                        在整点运行
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">缩写日期和月份名称</h3>
        </div>
        <div class="panel-body">
            <p><code>JAN-DEC</code> 可用于月份字段，
                <code>MON-SUN</code> 可用于星期字段。
            </p>

            <div class="desc">"在 4 月 1 日的每个整点运行"</div>

            <table class="cron-example">
                <tr>
                    <th><div>0 <span></span></div></th>
                    <th><div>*</div></th>
                    <th><div>1</div></th>
                    <th><div>APR</div></th>
                    <th><div>*</div></th>
                </tr>
                <tr>
                    <td rowspan="5">
                        <div class="guide"></div>
                    </td>
                    <td rowspan="4">
                        <div class="guide"></div>
                    </td>
                    <td rowspan="3">
                        <div class="guide"></div>
                    </td>
                    <td rowspan="2">
                        <div class="guide"></div>
                    </td>
                    <td>
                        <div class="guide"></div>
                    </td>
                    <td class="minor">每个工作日运行</td>
                </tr>
                <tr>
                    <td colspan="2">
                        在四月运行
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        在每月第一天运行
                    </td>
                </tr>
                <tr>
                    <td colspan="4" class="minor">
                        每天的每小时都运行
                    </td>
                </tr>
                <tr>
                    <td colspan="5">
                        在整点运行
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">时区</h3>
        </div>
        <div class="panel-body">
            <p>
                Cron 守护进程使用服务器的<strong>本地时间</strong>。
                如果服务器的时区不是 UTC，请确保在 {{ site_name }}
                上也设置匹配的时区。
            </p>

            <p>在 Ubuntu 系统上，您可以使用以下命令检查服务器的时区：</p>
            <pre>cat /etc/timezone</pre>
        </div>
    </div>
</div> <!-- cron examples -->

<div id="test-area">
    <h2>Cron 表达式测试器</h2>
    <p>输入或粘贴任意 Cron 表达式：</p>

    <input
        id="schedule"
        class="form-control input-lg"
        type="text"
        name=""
        value="0 9,12,18 * * *"
        autocomplete="off" />
    {% csrf_token %}


    <div id="cron-preview"></div>

    <h2>常用 Cron 表达式</h2>

    <table id="common-cron-expressions" class="table">
        <tr>
            <td>每分钟</td>
            <td>* * * * *</td>
            <td><button class="btn btn-default btn-sm">测试</button></td>
        </tr>
        <tr>
            <td>每 5 分钟</td>
            <td>*/5 * * * *</td>
            <td><button class="btn btn-default btn-sm">测试</button></td>
        </tr>
        <tr>
            <td>每 15 分钟</td>
            <td>*/15 * * * *</td>
            <td><button class="btn btn-default btn-sm">测试</button></td>
        </tr>
        <tr>
            <td>每 30 分钟</td>
            <td>*/30 * * * *</td>
            <td><button class="btn btn-default btn-sm">测试</button></td>
        </tr>
        <tr>
            <td>每小时</td>
            <td>0 * * * *</td>
            <td><button class="btn btn-default btn-sm">测试</button></td>
        </tr>
        <tr>
            <td>每小时过 30 分钟</td>
            <td>30 * * * *</td>
            <td><button class="btn btn-default btn-sm">测试</button></td>
        </tr>
        <tr>
            <td>每 2 小时</td>
            <td>0 */2 * * *</td>
            <td><button class="btn btn-default btn-sm">测试</button></td>
        </tr>
        <tr>
            <td>每 3 小时</td>
            <td>0 */3 * * *</td>
            <td><button class="btn btn-default btn-sm">测试</button></td>
        </tr>
        <tr>
            <td>每 6 小时</td>
            <td>0 */6 * * *</td>
            <td><button class="btn btn-default btn-sm">测试</button></td>
        </tr>
        <tr>
            <td>每天凌晨 3 点</td>
            <td>0 3 * * *</td>
            <td><button class="btn btn-default btn-sm">测试</button></td>
        </tr>
        <tr>
            <td>每周一凌晨 3 点</td>
            <td>0 3 * * MON</td>
            <td><button class="btn btn-default btn-sm">测试</button></td>
        </tr>
        <tr>
            <td>工作日早上 8 点</td>
            <td>0 8 * * 1-5</td>
            <td><button class="btn btn-default btn-sm">测试</button></td>
        </tr>
        <tr>
            <td>每月第一天的午夜</td>
            <td>0 0 1 * *</td>
            <td><button class="btn btn-default btn-sm">测试</button></td>
        </tr>
        <tr>
            <td>每三个月开始时</td>
            <td>0 0 1 */3 *</td>
            <td><button class="btn btn-default btn-sm">测试</button></td>
        </tr>

    </table>
</div>

{% endblock %}

{% block scripts %}
{% compress js %}
<script src="{% static 'js/docs_cron.js' %}"></script>
{% endcompress %}
{% endblock %}