{% load hc_extras %}

<div id="filtering-rules-modal" class="modal">
    <div class="modal-dialog">
        <form
            action="{% url 'hc-filtering-rules' check.code %}"
            class="form-horizontal"
            method="post">
            {% csrf_token %}
            <div class="modal-content">
                <div class="modal-body">
                    <h2>允许的 HTTP 请求方法</h2>
                    <p>接受并处理 HTTP Ping 请求，当请求方法为</p>
                    <label class="radio-container">
                        <input
                            type="radio"
                            name="methods"
                            value=""
                            {% if check.methods == "" %} checked {% endif %}>
                        <span class="radiomark"></span>
                        HEAD、GET、POST、PUT
                    </label>
                    <label class="radio-container">
                        <input
                            type="radio"
                            name="methods"
                            value="POST"
                            {% if check.methods == "POST" %} checked {% endif %}>
                        <span class="radiomark"></span>
                        仅 POST
                        <span class="help-block">
                            如果机器人（邮件内容扫描器、链接预览加载器）对 Ping URL 发起 GET 请求，可能有帮助。
                        </span>
                    </label>
                </div>

                <hr>

                <div class="modal-body">
                    <h2>内容过滤</h2>
                    <p>通过匹配关键词（区分大小写）将 Ping 分类为开始、成功或失败信号，匹配位置</p>
                    <label class="checkbox-container">
                        <input
                            type="checkbox"
                            class="filter-toggle"
                            name="filter_http_body"
                            {% if check.filter_http_body %}checked{% endif %} />
                        <span class="checkmark"></span>
                        HTTP 请求的请求正文
                    </label>

                    <label class="checkbox-container">
                        <input
                            type="checkbox"
                            class="filter-toggle"
                            name="filter_subject"
                            {% if check.filter_subject %}checked{% endif %} />
                        <span class="checkmark"></span>
                        邮件主题行
                    </label>

                    <label class="checkbox-container">
                        <input
                            type="checkbox"
                            class="filter-toggle"
                            name="filter_body"
                            {% if check.filter_body %}checked{% endif %} />
                        <span class="checkmark"></span>
                        邮件正文
                    </label>

                    <div class="form-group">
                        <label for="start_kw" class="col-sm-4 control-label">
                            开始关键词
                        </label>
                        <div class="col-sm-7">
                            <input
                                id="start_kw"
                                name="start_kw"
                                type="text"
                                maxlength="200"
                                value="{{ check.start_kw }}"
                                {% if not check.filter_any %}disabled{% endif %}
                                class="form-control filter-kw" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="success_kw" class="col-sm-4 control-label">
                            成功关键词
                        </label>
                        <div class="col-sm-7">
                            <input
                                id="success_kw"
                                name="success_kw"
                                type="text"
                                maxlength="200"
                                value="{{ check.success_kw }}"
                                {% if not check.filter_any %}disabled{% endif %}
                                class="form-control filter-kw" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="failure_kw" class="col-sm-4 control-label">
                            失败关键词
                        </label>
                        <div class="col-sm-7">
                            <input
                                id="failure_kw"
                                name="failure_kw"
                                type="text"
                                maxlength="200"
                                value="{{ check.failure_kw }}"
                                {% if not check.filter_any %}disabled{% endif %}
                                class="form-control filter-kw" />
                            <span class="help-block">
                                逗号分隔的关键词列表。如果找到任何关键词，将 Ping 分类为开始/成功/失败信号。<a href="{% url 'hc-serve-doc' 'configuring_checks' %}#filtering-rules">（文档）</a>
                            </span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label">
                            如果没有关键词匹配
                        </label>
                        <div class="col-sm-7">
                            <label class="radio-container">
                                <input
                                    type="radio"
                                    name="filter_default_fail"
                                    class="filter-kw"
                                    value=""
                                    {% if not check.filter_any %}disabled{% endif %}
                                    {% if not check.filter_default_fail %}checked{% endif %}>
                                <span class="radiomark"></span>
                                忽略此 Ping
                            </label>
                            <label class="radio-container">
                                <input
                                    type="radio"
                                    name="filter_default_fail"
                                    class="filter-kw"
                                    value="1"
                                    {% if not check.filter_any %}disabled{% endif %}
                                    {% if check.filter_default_fail %}checked{% endif %}>
                                <span class="radiomark"></span>
                                将 Ping 分类为失败
                            </label>
                        </div>
                    </div>
                </div>
                <hr>

                <div class="modal-body">
                    <h2>Ping 已暂停的检查项</h2>
                    <p>当已暂停的检查项收到 Ping 时：</p>
                    <label class="radio-container">
                        <input
                            type="radio"
                            name="manual_resume"
                            value=""
                            {% if not check.manual_resume %}checked{% endif %}>
                        <span class="radiomark"></span>
                        退出暂停状态（默认）
                    </label>
                    <label class="radio-container">
                        <input
                            type="radio"
                            name="manual_resume"
                            value="1"
                            {% if check.manual_resume %}checked{% endif %}>
                        <span class="radiomark"></span>
                        忽略此 Ping，保持暂停状态
                    </label>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="submit" class="btn btn-primary">保存</button>
                </div>
            </div>
        </form>
    </div>
</div>
