{% load hc_extras humanize %}
{% with check.get_status as status %}
    {% if status == "down" %}
        此检查项异常。上次 Ping 是 {{ check.last_ping|naturaltime }}。
    {% elif status == "up" %}
        此检查项正常。上次 Ping 是 {{ check.last_ping|naturaltime }}。
    {% elif status == "grace" %}
        此检查项延迟。上次 Ping 是 {{ check.last_ping|naturaltime }}。
    {% elif status == "paused" and check.manual_resume %}
        此检查项已暂停，将忽略 Ping 直到恢复。
        {% if rw %}
        <a id="resume-btn" href="#">（立即恢复）</a>
        {% endif %}
    {% elif status == "paused" and check.last_start %}
        此检查项已准备好接收 Ping。
    {% elif status == "paused" %}
        此检查项已暂停。
    {% elif status == "new" and check.n_pings %}
        此检查项已准备好接收 Ping。
    {% elif status == "new" %}
        此检查项从未收到过 Ping。
    {% endif %}

    {% if check.last_start %}
        <br />
        正在运行，{{ check.last_start|hms }} 前开始。
    {% else %}
        <br /> &nbsp;
    {% endif %}
{% endwith %}
