{% load humanize hc_extras  %}

<div class="modal-body">
    <h3>Ping #{{ ping.n }}
        {% if ping.kind == "ign" %}
        <span class="text-muted">（已忽略）</span>
        {% elif ping.exitstatus > 0 %}
        <span class="text-danger">（失败，退出状态 {{ ping.exitstatus }}）</span>
        {% elif ping.exitstatus == 0 %}
        <span class="text-success">（退出状态 0）</span>
        {% elif ping.kind == "fail" %}
        <span class="text-danger">（通过 <code>/fail</code> 端点接收）</span>
        {% elif ping.kind == "start" %}
        <span class="text-success">（通过 <code>/start</code> 端点接收）</span>
        {% elif ping.kind == "log" %}
        <span class="text-muted">（通过 <code>/log</code> 端点接收）</span>
        {% endif %}
    </h3>

    <div class="row">
        <div class="col-sm-12">
            <p>
                <strong>接收时间</strong>
                <code>{{ ping.created.isoformat }}</code>
                <div class="times" data-dt="{{ ping.created|timestamp }}">
                    {% for tz in tz_switches %}
                    <div>
                        {{ tz }}<br>
                        <span data-tz="{{ tz }}"></span>
                    </div>
                    {% endfor %}
                </div>
            </p>
        </div>

        <div class="col-sm-6">
            <p>
                <strong>来源</strong>
                {% if ping.scheme == "email" %}
                {{ ping.ua }}
                {% else %}
                    {{ ping.scheme|upper }} {{ ping.method|upper }}
                    {% if ping.remote_addr %}from {{ ping.remote_addr }}{% endif %}
                {% endif %}
            </p>
        </div>

        {% if ping.duration %}
        <div class="col-sm-6">
            <p>
                <strong>持续时间</strong>
                <span class="ic-timer"></span> {{ ping.duration|hms }}
            </p>
        </div>
        {% endif %}

        {% if ping.rid %}
        <div class="col-sm-6">
            <p>
                <strong>运行 ID</strong>
                <span>{{ ping.rid }}</span>
            </p>
        </div>
        {% endif %}

        {% if ping.scheme != "email" %}
        <div class="col-sm-12">
            <p>
                <strong>用户代理</strong>
                <span class="ua">{{ ping.ua }}</span>
            </p>
        </div>
        {% endif %}

        {% if subject %}
        <div class="col-sm-12">
            <p>
                <strong>主题</strong>
                <span>{{ subject }}</span>
            </p>
        </div>
        {% endif %}
    </div>

    {% if ping.has_body %}
        <h4>请求正文</h4>

        {% if ping.object_size and not body %}
            <p class="alert alert-info">
                请求正文数据尚不可用，请稍后再查看。
            </p>
        {% else %}
            {% if plain or html %}
            <ul class="nav nav-pills">
                <li>
                    <a href="#email-body-raw" data-toggle="tab">原始消息</a>
                </li>
                {% if plain %}
                <li{% if active == 'plain' %} class="active"{% endif %}>
                    <a href="#email-body-plain" data-toggle="tab">文本</a>
                </li>
                {% endif %}
                {% if html %}
                <li{% if active == 'html' %} class="active"{% endif %}>
                    <a href="#email-body-html" data-toggle="tab">HTML</a>
                </li>
                {% endif %}
            </ul>
            <div class="tab-content">
                <div id="email-body-raw" class="tab-pane">
                    <pre>{{ body }}</pre>
                </div>

                {% if plain %}
                <div id="email-body-plain" class="tab-pane{% if active == 'plain' %} active{% endif %}">
                    <pre>{{ plain }}</pre>
                </div>
                {% endif %}

                {% if html %}
                <div id="email-body-html" class="tab-pane{% if active == 'html' %} active{% endif %}">
                    <pre>{{ html }}</pre>
                </div>
                {% endif %}
            </div>
            {% else %}
            <pre>{{ body }}</pre>
            {% endif %}
            <p class="download">
                <a href="{% url 'hc-ping-body' check.code ping.n %}">下载原始内容</a>
            </p>
        {% endif %}
    {% endif %}
</div>
