<div id="remove-check-modal" class="modal">
    <div class="modal-dialog">
        <form action="{% url 'hc-remove-check' check.code %}" method="post">
            {% csrf_token %}
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4>移除检查项 <span class="remove-check-name">{{ check.name_then_code }}</span></h4>
                </div>
                <div class="modal-body">
                    <p>您即将移除检查项
                        <strong class="remove-check-name">{{ check.name_then_code }}</strong>。
                    </p>
                    <p>一旦删除无法"撤销"，您将无法恢复旧的 Ping URL。</p>
                    <p>确定要这样做吗？</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="submit" class="btn btn-danger">移除</button>
                </div>
            </div>
        </form>
    </div>
</div>