<div id="update-name-modal" class="modal with-slug-suggestions">
    <div class="modal-dialog">
        <form
            id="update-name-form"
            {% if check %}action="{% url 'hc-update-name' check.code %}"{% endif %}
            class="form-horizontal"
            method="post">
            {% csrf_token %}
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4>名称和标签</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="update-name-input" class="col-sm-2 control-label">
                            名称
                        </label>
                        <div class="col-sm-10">
                            <input
                                id="update-name-input"
                                name="name"
                                type="text"
                                maxlength="100"
                                value="{{ check.name }}"
                                placeholder="未命名"
                                class="form-control" />

                            <span class="help-block">
                                为此检查项设置一个易识别的名称，方便以后识别。
                            </span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="update-slug-input" class="col-sm-2 control-label">
                            标识
                        </label>
                        <div class="col-sm-10">
                            <div class="input-group">
                                <input
                                    id="update-slug-input"
                                    name="slug"
                                    type="text"
                                    maxlength="100"
                                    value="{{ check.slug }}"
                                    pattern="[a-z0-9_\-]+"
                                    data-src-id="update-name-input"
                                    data-btn-id="use-suggested"
                                    data-preview-id="slug-help"
                                    class="form-control" />
                                <span class="input-group-btn">
                                    <button
                                        class="btn btn-default use-suggested-slug"
                                        type="button">使用建议值</button>
                                </span>
                            </div>
                            <span class="help-block slug-help-block"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="update-tags-input" class="col-sm-2 control-label">
                            标签
                        </label>
                        <div class="col-sm-10">
                            <input
                                id="update-tags-input"
                                name="tags"
                                type="text"
                                maxlength="500"
                                data-all-tags="{{ all_tags }}"
                                value="{{ check.tags }}" />

                            <span class="help-block">
                                使用标签便于过滤和创建状态徽章。多个标签之间用空格分隔。
                            </span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="update-desc-input" class="col-sm-2 control-label">
                            描述
                        </label>
                        <div class="col-sm-10">
                            <textarea
                                id="update-desc-input"
                                class="form-control"
                                rows="5"
                                name="desc">{{ check.desc }}</textarea>
                            <span class="help-block">
                                供您参考的附加备注。将出现在邮件告警和 Slack 通知中。
                            </span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="submit" class="btn btn-primary">保存</button>
                </div>
            </div>
        </form>
    </div>
</div>