{% extends "base_project.html" %}
{% load humanize static hc_extras %}

{% block title %}Spike.sh 集成 - {{ site_name }}{% endblock %}


{% block content %}
<div class="row">
    <div class="col-sm-12">
        <h1>Spike.sh</h1>

        <p>如果你使用 <a href="https://spike.sh">Spike.sh</a>，
            你可以设置 {{ site_name }} 在检查项宕机时创建 Spike.sh 事件，
            并在检查项恢复时自动解决该事件。</p>

        <h2>设置指南</h2>

        <div class="row ai-step">
            <div class="col-sm-6">
                <span class="step-no"></span>
                <p>
                    登录你的 Spike.sh 账户，进入
                    <strong>集成 › 新建集成</strong>。
                    选择"Healthchecks"并点击"下一步"。
                </p>
            </div>
            <div class="col-sm-6">
                <img class="ai-guide-screenshot" alt="Click create integration button"
                    src="{% static 'img/setup_spike_1.png' %}" />
            </div>
        </div>

        <div class="row ai-step">
            <div class="col-sm-6">
                <span class="step-no"></span>
                <p>
                    为集成提供一个描述性的<strong>名称</strong>，并选择要添加到的
                    Spike.sh <strong>服务</strong>。
                </p>
                <p>
                    在下一步中，创建或选择现有的
                    <strong>升级策略</strong>与该集成关联。
                </p>
            </div>
            <div class="col-sm-6">
                <img class="ai-guide-screenshot" alt="Click create integration button"
                    src="{% static 'img/setup_spike_2.png' %}" />
            </div>
        </div>

        <div class="row ai-step">
            <div class="col-sm-6">
                <span class="step-no"></span>
                <p>
                    创建集成后，点击
                    <strong>复制 Webhook</strong>。

                </p>
            </div>
            <div class="col-sm-6">
                <img class="ai-guide-screenshot" alt="Create Healthchecks.io integration with details"
                    src="{% static 'img/setup_spike_3.png' %}">
            </div>
        </div>

        <div class="row ai-step">
            <div class="col-sm-6">
                <span class="step-no"></span>
                <p>
                    将显示的 Webhook 链接复制并粘贴到下面的表单中。
                    保存集成，大功告成！
                </p>
            </div>
            <div class="col-sm-6">
                <img class="ai-guide-screenshot" alt="Copy the Webhook URL"
                    src="{% static 'img/setup_spike_4.png' %}">
            </div>
        </div>

        <h2>集成设置</h2>

        <form method="post" class="form-horizontal">
            {% csrf_token %}
            <div class="form-group {{ form.value.css_classes }}">
                <label for="post-url" class="col-sm-2 control-label">Webhook 链接</label>
                <div class="col-sm-10">
                    <input id="post-url" type="text" class="form-control" name="value" placeholder="https://"
                        value="{{ form.value.value|default:"" }}">

                    {% if form.value.errors %}
                    <div class="help-block">
                        {{ form.value.errors|join:"" }}
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">保存集成</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}