{% extends "emails/base.html" %}
{% load hc_extras %}

{% block content %}
您好，
<br />

{% if membership %}
    {% if membership.project.name %}
        <strong>{{ membership.project.owner.email }}</strong> 邀请您加入他们的
        <a href="{% site_root %}">{% site_name %}</a>
        项目 <strong>{{ membership.project }}</strong>。
    {% else %}
        <strong>{{ membership.project.owner.email }}</strong> 邀请您加入他们的
        <a href="{% site_root %}">{% site_name %}</a> 账户。
    {% endif %}
    <br /><br />

    {% if membership.role == "r" %}
    您可以查看现有的监控检查项，但无法修改它们。
    {% else %}
    您可以管理现有的监控检查项并设置新的检查项。
    {% endif %}
    如果您已拥有自己的 {% site_name %} 账户，您可以在两个账户之间切换。
    <br /><br />
{% endif %}

要登录 <a href="{% site_root %}">{% site_name %}</a>，
请点击下方按钮：
{% endblock %}


{% block content_more %}
谢谢，<br>
{% site_name %} 团队
<br /><br />

<strong>附注：</strong>需要帮助入门？请查看我们的
<a href="{% site_root %}{% url 'hc-docs' %}">帮助文档</a>。
或者，直接回复此邮件提出任何问题。
{% endblock %}
