{% load asciitable hc_extras humanize %}您好，

这是由 {% site_name %} 发送的{% if nag_period == 3600 %}每小时 {% endif %}{% if nag_period == 86400 %}每日 {% endif %}提醒。
{% if num_down == 1%}当前有 1 个检查项宕机：{% else %}当前有 {{ num_down }} 个检查项宕机：{% endif %}
{% regroup checks by project as groups %}{% for group in groups %}

项目 "{{ group.grouper|safe }}"
{% table %}
    {% row %}
        {% cell %}状态{% endcell %}
        {% cell %}名称{% endcell %}
        {% cell %}上次 Ping{% endcell %}
    {% endrow %}
    {% for check in group.list|sortchecks:"name" %}
        {% row %}
            {% cell %}{{ check.get_status|uppercase_if_down }}{% endcell %}
            {% cell %}{{ check.name_then_code|safe }}{% endcell %}
            {% cell %}{% if check.last_ping %}{{ check.last_ping|naturaltime }}{% else %}从未{% endif %}{% endcell %}
        {% endrow %}
    {% endfor %}
{% endtable %}
{% endfor %}

--
此致，
{% site_name %}
