{% extends "emails/base.html" %}
{% load humanize hc_extras %}

{% block content %}
您好，<br />

这是由 <a href="{% site_root %}">{% site_name %}</a> 发送的
{% if nag_period == 3600 %}每小时{% endif %}
{% if nag_period == 86400 %}每日{% endif %}
提醒。<br />

{% if num_down == 1%}
当前有 <strong>1</strong> 个检查项<strong>宕机</strong>：<br />
{% else %}
当前有 <strong>{{ num_down }}</strong> 个检查项<strong>宕机</strong>：<br />
{% endif %}

{% include "emails/nag-summary-html.html" %}

<strong>通知太多？</strong>
请在 {% site_name %} 上访问<a href="{{ notifications_url }}">邮件报告</a>
页面设置您的通知偏好。
<br /><br />

此致，<br>
{% site_name %} 团队
{% endblock %}

{% block unsub %}
<br>
<a href="{{ unsub_link }}" target="_blank" style="color: #666666; text-decoration: underline;">
    取消订阅
</a>
{% endblock %}
