{% load asciitable linemode hc_extras tz %}{% timezone tz %}{% linemode %}

{% line %}您好，{% endline %}
{% line %}{% endline %}

{% if summary_nchecks %}
    {% line %}{{ when }}，{{ summary_nchecks }} 个检查项发生了 {{ summary_ntimes }} 次宕机事件。{% endline %}
{% else %}
    {% line %}{{ when }}，没有检查项发生宕机。很棒！{% endline %}
{% endif %}

{% endlinemode%}{% regroup checks by project as groups %}{% for group in groups %}

项目 "{{ group.grouper|safe }}"
{% table %}
    {% row %}
        {% cell %}状态{% endcell %}
        {% cell %}名称{% endcell %}
        {% for dt in boundaries %}
            {% if report_period == "weekly" %}
                {% cell %}{{ dt|date:"M j"}} - {{ dt|add6days|date:"M j"}}{% endcell %}
            {% elif report_period == "daily" %}
                {% cell %}{{ dt|date:"F j"}}{% endcell %}
            {% else %}
                {% cell %}{{ dt|date:"N Y"}}{% endcell %}
            {% endif %}
        {% endfor %}
    {% endrow %}
    {% for check in group.list|sortbydowntime %}
        {% row %}
            {% cell %}{{ check.get_status|uppercase_if_down }}{% endcell %}
            {% cell %}{{ check.name_then_code|safe }}{% endcell %}
            {% for d in check.past_downtimes %}
                {% if d.count %}
                    {% cell %}{{ d.count }} 次宕机，
共计 {{ d.duration|hc_approx_duration }}{% endcell%}
                {% else %}
                    {% if d.no_data %}
                        {% cell %}{% comment %} The check didn't exist yet {% endcomment %}{% endcell %}
                    {% else %}
                        {% cell %}一切正常！{% endcell %}
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% endrow %}
    {% endfor %}
{% endtable %}
{% endfor %}

--
此致，
{% site_name %}
{% endtimezone %}