{% extends "base_project.html" %}
{% load humanize static hc_extras %}

{% block title %}添加电话通知 - {{ site_name }}{% endblock %}

{% block content %}
<div class="row">
<div class="col-sm-12">
    <h1>电话通知</h1>
    <p>
        当检查项宕机时拨打电话。接听时，语音引擎会朗读消息并挂断。
    </p>
    <p>
        {{ site_name }} 使用第三方服务 Twilio 拨打电话。
        {{ site_name }} 将从一个固定的号码拨打电话：
        <strong>{{ twilio_from }}</strong>
        <a href="{% url 'hc-contact-vcf' %}">（添加到通讯录）。</a>
    </p>

    {% if show_pricing and profile.call_limit == 0 %}
    <p class="alert alert-info">
        <strong>需要付费套餐。</strong>
        电话通知在免费套餐中不可用——成本太高！请升级到
        <a href="{% url 'hc-billing' %}">付费套餐</a>
        以启用电话通知。
    </p>
    {% endif %}

    <h2>集成设置</h2>

    <form method="post" class="form-horizontal">
        {% csrf_token %}
        <div class="form-group {{ form.label.css_classes }}">
            <label for="id_label" class="col-sm-2 control-label">标签</label>
            <div class="col-sm-6">
                <input
                    id="id_label"
                    type="text"
                    class="form-control"
                    name="label"
                    placeholder="Alice's Phone"
                    value="{{ form.label.value|default:"" }}">

                {% if form.label.errors %}
                <div class="help-block">
                    {{ form.label.errors|join:"" }}
                </div>
                {% else %}
                <span class="help-block">
                    可选。如果添加多个电话号码，标签可帮助区分。
                </span>
                {% endif %}
            </div>
        </div>
        <div class="form-group {{ form.phone.css_classes }}">
            <label for="id_number" class="col-sm-2 control-label">手机号码</label>
            <div class="col-sm-3">
                <input
                    id="id_number"
                    type="tel"
                    class="form-control"
                    name="phone"
                    placeholder="+1234567890"
                    value="{{ form.phone.value|default:"" }}">

                {% if form.phone.errors %}
                <div class="help-block">
                    {{ form.phone.errors|join:"" }}
                </div>
                {% else %}
                <span class="help-block">
                    请确保电话号码以"+"开头并包含国家代码。
                </span>
                {% endif %}
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary">保存集成</button>
            </div>
        </div>
    </form>
</div>
</div>
{% endblock %}
