{% extends "base_project.html" %}
{% load humanize static hc_extras %}

{% block title %}Discord 集成 - {{ site_name }}{% endblock %}

{% block content %}
<div class="row">
<div class="col-sm-12">
    <h1>Discord</h1>

    <div class="jumbotron">
        <p>
            通过此集成，{{ site_name }} 将在检查项
            <strong>恢复</strong>或<strong>宕机</strong>时
            向 <a href="http://discord.com/">Discord</a> 频道发送通知。
        </p>

        <form method="post" class="text-center">
            {% csrf_token %}
            <a href="{{ authorize_url }}" class="btn btn-lg btn-default">
                <img class="ai-icon" src="{% static 'img/discord.png' %}" alt="Discord" />
                连接 Discord
            </a>
        </form>
    </div>
</div>
</div>
{% endblock %}
