{% extends "base_project.html" %}
{% load humanize static hc_extras %}

{% block title %}{% site_name %} GitHub 集成{% endblock %}

{% block content %}
<div class="row">
<div class="col-sm-12">
    <p class="alert alert-success">成功，GitHub 已连接！</p>

    <h2>集成设置</h2>
    <form method="post" action="{% url 'hc-add-github-save' project.code %}" class="form-horizontal">
        {% csrf_token %}
        <div class="form-group {{ form.repo_name.css_classes }}">
            <label for="repo_name" class="col-sm-2 control-label">仓库</label>
            <div class="col-sm-6">
                <select name="repo_name" class="form-control">
                    {% for repo in repo_names %}
                    <option>{{ repo }}</option>
                    {% endfor %}
                </select>
                <div class="help-block">
                    当检查项宕机时，{% site_name %} 将在此仓库中创建新问题。<br>
                    如果未找到目标仓库，请确保 {% site_name %} GitHub 应用
                    已安装在仓库所有者的 GitHub 账号中。
                    <a href="{{ install_url }}">安装…</a>
                </div>
            </div>
        </div>
        <div class="form-group {{ form.labels.css_classes }}">
            <label for="labels" class="col-sm-2 control-label">问题标签</label>
            <div class="col-sm-6">
                <input
                    id="labels"
                    type="text"
                    class="form-control"
                    name="labels"
                    maxlength="500">
                {% if form.token.errors %}
                <div class="help-block">{{ form.labels.errors|join:"" }}</div>
                {% else %}
                <div class="help-block">
                    {% site_name %} 会将这些问题标签附加到所创建的问题上。
                    <br>
                    可选，多个标签用逗号分隔。
                </div>
                {% endif %}
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary">保存集成</button>
            </div>
        </div>
    </form>
</div>
</div>
{% endblock %}
