{% extends "base_project.html" %}
{% load static hc_extras %}

{% block title %}{% site_name %} GitHub 集成{% endblock %}

{% block content %}
<div class="row">
<div class="col-sm-12">
    <div class="jumbotron">
        <p>通过此集成，{% site_name %} 将在检查项宕机时在您选择的
            GitHub 仓库中创建问题。
        </p>

        <div class="text-center">
        <a href="{{ authorize_url }}" class="btn btn-primary btn-lg">
            <img class="ai-icon" src="{% static 'img/github-white.png' %}" alt="GitHub mark" />
            连接 GitHub
        </a>
        </div>
    </div>
</div>
</div>
{% endblock %}
