{% load hc_extras humanize linemode %}{% linemode %}
{% line %}检查项 [{{ check.name_then_code }}]({{ check.cloaked_url }}) **已宕机**{% if flip.reason %}（{{ flip.reason_long }}）{% endif %}。{% endline %}
{% line %}{% endline %}

{% if check.project.name %}
{% line %}**项目：** {{ check.project.name }}{% endline %}
{% endif %}

{% if check.tags_list %}
{% line %}**标签：** {% for tag in check.tags_list %}`{{ tag }}` {% endfor %}{% endline %}
{% endif %}

{% if check.kind == "simple" %}
{% line %}**周期：** {{ check.timeout|hc_duration }}{% endline %}
{% endif %}

{% if check.kind == "cron" or check.kind == "oncalendar" %}
{% line %}**计划：** `{{ check.schedule }}`{% endline %}
{% line %}**时区：** {{ check.tz }}{% endline %}
{% endif %}

{% line %}**总 Ping 数：** {% if ping %}{{ ping.n }}{% else %}0{% endif %}{% endline %}

{% if ping is None %}
{% line %}**上次 Ping：** 从未{% endline %}
{% else %}
{% line %}**上次 Ping：** {{ ping.get_kind_display }}，{{ ping.created|naturaltime }}{% endline %}
{% endif %}

{% if body %}
{% line %}**上次 Ping 内容：**{% endline %}
{% line %}<pre>{{ body }}</pre>{% endline %}
{% endif %}
{% endlinemode %}
