{% load hc_extras humanize linemode %}{% linemode %}
{% if status == "down" and flip.reason %}
    {% line %}原因：{{ flip.reason_long }}。{% endline %}
    {% line %}{% endline %}
{% elif status == "up" and flip.down_duration %}
    {% line %}宕机持续了 {{ flip.down_duration|hc_duration_for_sentence }}。{% endline %}
    {% line %}{% endline %}
{% endif %}

{% if check.project.name %}
{% line %}**项目：** {{ check.project.name }}{% endline %}
{% endif %}

{% if check.tags_list %}
{% line %}**标签：** {{ check.tags_list|join:", " }}{% endline %}
{% endif %}

{% if check.kind == "simple" %}
{% line %}**周期：** {{ check.timeout|hc_duration }}{% endline %}
{% endif %}

{% if check.kind == "cron" or check.kind == "oncalendar" %}
{% line %}**计划：** `{{ check.schedule }}`{% endline %}
{% line %}**时区：** {{ check.tz }}{% endline %}
{% endif %}

{% line %}**总 Ping 数：** {% if ping %}{{ ping.n }}{% else %}0{% endif %}{% endline %}

{% if ping is None %}
{% line %}**上次 Ping：** 从未{% endline %}
{% else %}
{% line %}**上次 Ping：** {{ ping.get_kind_display }}，{{ ping.created|naturaltime }}{% endline %}
{% endif %}

{% if down_checks is not None %}
    {% line %}{% endline %}
    {% if down_checks %}
        {% if down_checks|length > 10 %}
            {% line %}其他 {{ down_checks|length }} 个检查项{% if status == "down" %}也{% else %}仍然{% endif %}宕机。{% endline %}
        {% else %}
            {% line %}以下检查项{% if status == "down" %}也{% else %}仍然{% endif %}宕机：{% endline %}
            {% for c in down_checks %}
                {% line %}• **{{ c.name_then_code }}** (last ping: {{ c.last_ping|naturaltime|default:"never" }}){% endline %}
            {% endfor %}
        {% endif %}
    {% else %}
        {% line %}所有其他检查项均已恢复。{% endline %}
    {% endif %}
{% endif %}
{% endlinemode %}