{% extends "base_project.html" %}
{% load humanize static hc_extras %}

{% block title %}
{% if is_new %}
设置邮件通知 - {{ site_name }}
{% else %}
邮件设置 - {{ site_name }}
{% endif %}
{% endblock %}


{% block content %}
<div class="row">
<div class="col-sm-12">
    <h1>Email</h1>
    <p>当检查项恢复或宕机时发送邮件。</p>

    {% if use_verification %}
    <p class="alert alert-info">
        <strong>需要确认。</strong>
        输入邮箱地址后，{{ site_name }} 将发送确认链接。只有确认的地址才会收到通知。
    </p>
    {% endif %}

    <h2>集成设置</h2>

    <form method="post" class="form-horizontal">
        {% csrf_token %}
        <div class="form-group {{ form.value.css_classes }}">
            <label for="id_email" class="col-sm-2 control-label">邮箱</label>
            <div class="col-sm-3">
                <input
                    id="id_email"
                    type="email"
                    class="form-control"
                    name="value"
                    placeholder="you@example.org"
                    required
                    value="{{ form.value.value|default:"" }}">

                {% if form.value.errors %}
                <div class="help-block">
                    {{ form.value.errors|join:"" }}
                </div>
                {% endif %}
            </div>
        </div>

        <div class="form-group {{ form.down.css_classes }}">
            <label class="col-sm-2 control-label">通知时机</label>
            <div class="col-sm-10">
                <label class="checkbox-container">
                    <input
                        type="checkbox"
                        name="down"
                        value="true"
                        {% if form.down.value %} checked {% endif %}>
                    <span class="checkmark"></span>
                    检查项<strong>宕机</strong>时
                </label>
                <label class="checkbox-container">
                    <input
                        type="checkbox"
                        name="up"
                        value="true"
                        {% if form.up.value %} checked {% endif %}>
                    <span class="checkmark"></span>
                    检查项<strong>恢复</strong>时
                    {% if form.down.errors %}
                    <div class="help-block">
                        {{ form.down.errors|join:"" }}
                    </div>
                    {% else %}
                    <br />
                    <span class="text-muted">
                    工单系统集成：取消勾选可避免检查项恢复时创建新工单。
                    </span>
                    {% endif %}
                </label>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary">保存集成</button>
            </div>
        </div>
    </form>
</div>
</div>
{% endblock %}
