{% extends "base.html" %}
{% load compress humanize static hc_extras %}

{% block title %}Pushover 集成 - {{ site_name }}{% endblock %}

{% block description %}
    <meta name="description" content="将 {{ site_name }} 与 Pushover 配合使用：配置 {{ site_name }} 在检查项恢复或宕机时发送 Pushover 通知。">
{% endblock %}

{% block content %}
<div class="row">
<div class="col-sm-12">
    <h1>Pushover</h1>
    <div class="jumbotron">
        {% if request.user.is_authenticated %}
        <p>
            <a href="https://www.pushover.net/">Pushover</a> 可在您的 Android、iPhone、iPad、桌面电脑、
            Android Wear 和 Apple Watch 上发送实时通知。您可以设置 {{ site_name }}
            在几个简单步骤内接收 Pushover 通知。
        </p>
        {% else %}
        <p>
            {{ site_name }} 是一款<strong>免费</strong>且
            <a href="https://github.com/healthchecks/healthchecks">开源</a>的
            服务，用于监控您的 cron 作业、后台进程和
            计划任务。在添加 Pushover 集成之前，请登录
            {{ site_name }}：
        </p>

        <div class="text-center">
            <a href="{% url 'hc-login' %}"
               class="btn btn-primary btn-lg">Log In</a>
        </div>
        {% endif %}
    </div>

    <h2>设置指南</h2>

    <div class="row ai-step">
        <div class="col-sm-6">
            <span class="step-no"></span>
            <p>
                {% if request.user.is_authenticated %}
                前往
                {% else %}
                登录后，前往
                {% endif %}

                 <strong>集成</strong>页面，
                点击 Pushover 集成旁的 <strong>添加集成</strong>。
            </p>
        </div>
        <div class="col-sm-6">
            <img
                class="ai-guide-screenshot"
                alt="截图"
                src="{% static 'img/setup_pushover_0.png' %}">
        </div>
    </div>

    <div class="row ai-step">
        <div class="col-sm-6">
            <span class="step-no"></span>
            <p>
                Pushover 支持从静默到"紧急"的不同通知优先级。
                选择您偏好的优先级，
                然后点击"通过 Pushover 订阅"。
            </p>
        </div>
        <div class="col-sm-6">
            <img
                class="ai-guide-screenshot"
                alt="截图"
                src="{% static 'img/setup_pushover_1.png' %}">
        </div>
    </div>

    <div class="row ai-step">
        <div class="col-sm-6">
            <span class="step-no"></span>
            <p>
                您将被重定向到
                <a href="https://pushover.net">pushover.net</a>，
                并被要求确认订阅。查看订阅
                详情并点击"订阅我"。
            </p>
        </div>
        <div class="col-sm-6">
            <img
                class="ai-guide-screenshot"
                alt="截图"
                src="{% static 'img/setup_pushover_2.png' %}">
        </div>
    </div>

    <div class="row ai-step">
        <div class="col-sm-6">
            <span class="step-no"></span>
            <p>
                大功告成！您将被重定向回
                {{ site_name }} 的"集成"页面，
                并看到新的集成！
            </p>
        </div>
        <div class="col-sm-6">
            <img
                class="ai-guide-screenshot"
                alt="截图"
                src="{% static 'img/setup_pushover_3.png' %}">
        </div>
    </div>

</div>
</div>
{% endblock %}

