{% extends "base_project.html" %}
{% load compress humanize static hc_extras %}

{% block title %}Pushover 集成 - {{ site_name }}{% endblock %}


{% block content %}
<div class="row">
<div class="col-sm-12">
    <h1>Pushover</h1>
    <div class="jumbotron">
        <p>
            <a href="https://www.pushover.net/">Pushover</a> 可在您的 Android、iPhone、iPad、桌面电脑、
            Android Wear 和 Apple Watch 上发送实时通知。您可以设置 {{ site_name }}
            在几个简单步骤内接收 Pushover 通知。
        </p>
    </div>

    <h2>集成设置</h2>

    <form id="add-pushover" method="post" class="form-horizontal">
        {% csrf_token %}
        <div class="form-group">
            <label class="col-sm-3 control-label">宕机事件优先级</label>
            <div class="col-sm-8">
                <select name="po_priority" class="form-control">
                    <option value="-3">
                        禁用：不通知宕机事件。
                    </option>
                    <option value="-2">
                        最低优先级：设备上不生成通知。
                    </option>
                    <option value="-1">
                        低优先级：发送静默通知。
                    </option>
                    <option value="0" selected="selected">
                        普通优先级：
                    </option>
                    <option value="1">
                        高优先级：绕过用户的免打扰时段。
                    </option>
                    <option value="2">
                        紧急优先级：每 {{po_retry_delay|hc_duration }} 重复一次，最多持续 {{ po_expiration|hc_duration }}，直到您确认。
                    </option>
                </select>
           </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">恢复事件优先级</label>
            <div class="col-sm-8">
                <select name="po_priority_up" class="form-control">
                    <option value="-3">
                        禁用：不通知恢复事件。
                    </option>
                    <option value="-2">
                        最低优先级：设备上不生成通知。
                    </option>
                    <option value="-1">
                        低优先级：发送静默通知。
                    </option>
                    <option value="0" selected="selected">
                        普通优先级：
                    </option>
                    <option value="1">
                        高优先级：绕过用户的免打扰时段。
                    </option>
                    <option value="2">
                        紧急优先级：每 {{po_retry_delay|hc_duration }} 重复一次，最多持续 {{ po_expiration|hc_duration }}，直到您确认。
                    </option>
                </select>
           </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-8">
                <button type="submit" class="btn btn-default">
                    <img class="ai-icon" src="{% static 'img/po.png' %}" alt="Pushover" />
                    通过 Pushover 订阅
                </button>
            </div>
        </div>
    </form>
</div>
</div>
{% endblock %}

{% block scripts %}
{% compress js %}
<script src="{% static 'js/tom-select.popular.min.js' %}"></script>
<script src="{% static 'js/add_pushover.js' %}"></script>
{% endcompress %}
{% endblock %}
