{% extends "base_project.html" %}
{% load humanize static hc_extras %}

{% block title %}Opsgenie 集成 - {{ site_name }}{% endblock %}

{% block content %}
<div class="row">
<div class="col-sm-12">
    <h1>Opsgenie</h1>

    <p><a href="https://www.opsgenie.com/">Opsgenie</a> 提供
    警报、值班排班、升级策略和事件跟踪功能。
    您只需几个简单步骤即可将其集成到您的 {{ site_name }} 帐户中。</p>

    <h2>设置指南</h2>
    <div class="row ai-step">
        <div class="col-sm-6">
            <span class="step-no"></span>
            <p>
                登录您的 Opsgenie 帐户，
                选择一个团队，进入该团队的
                <strong>集成</strong>页面，点击
                <strong>添加集成</strong>。
            </p>
        </div>
        <div class="col-sm-6">
            <img
                class="ai-guide-screenshot"
                alt="截图"
                src="{% static 'img/setup_opsgenie_1.png' %}">
        </div>
    </div>
    <div class="row ai-step">
        <div class="col-sm-6">
            <span class="step-no"></span>
            在提供的集成类型网格中选择 <strong>API</strong>。
        </div>
        <div class="col-sm-6">
            <img
                class="ai-guide-screenshot"
                alt="截图"
                src="{% static 'img/setup_opsgenie_2.png' %}">
        </div>
    </div>

    <div class="row ai-step">
        <div class="col-sm-6">
            <span class="step-no"></span>
            为集成起一个描述性的名称。
        </div>
        <div class="col-sm-6">
            <img
                class="ai-guide-screenshot"
                alt="截图"
                src="{% static 'img/setup_opsgenie_3.png' %}">
        </div>
    </div>

    <div class="row ai-step">
        <div class="col-sm-6">
            <span class="step-no"></span>
            <p>复制显示的 API 密钥，然后点击
               <strong>开启集成</strong>。
            </p>
        </div>
        <div class="col-sm-6">
            <img
                class="ai-guide-screenshot"
                alt="截图"
                src="{% static 'img/setup_opsgenie_4.png' %}">
        </div>
    </div>

    <div class="row ai-step">
        <div class="col-sm-6">
            <span class="step-no"></span>
            <p>将 API 密钥粘贴到下面的表单中，并确保选择了正确的
                <strong>服务区域</strong>。
                保存集成，大功告成！
            </p>
        </div>
    </div>

    <h2>集成设置</h2>

    <form method="post" class="form-horizontal">
        {% csrf_token %}
        <div class="form-group {{ form.key.css_classes }}">
            <label for="api-key" class="col-sm-2 control-label">API 密钥</label>
            <div class="col-sm-4">
                <input
                    id="api-key"
                    type="text"
                    class="form-control"
                    name="key"
                    placeholder=""
                    value="{{ form.key.value|default:"" }}">

                {% if form.key.errors %}
                <div class="help-block">
                    {{ form.key.errors|join:"" }}
                </div>
                {% endif %}
            </div>
        </div>
        <div class="form-group {{ form.region.css_classes }}">
            <label for="api-key" class="col-sm-2 control-label">区域</label>
            <div class="col-sm-4">
                <label class="radio-container">
                    <input
                        type="radio"
                        name="region"
                        value="us"
                        {% if form.region.value == "us" %} checked {% endif %}>
                    <span class="radiomark"></span>
                    美国（默认）
                </label>
                <label class="radio-container">
                    <input
                        type="radio"
                        name="region"
                        value="eu"
                        {% if form.region.value == "eu" %} checked {% endif %}>
                    <span class="radiomark"></span>
                    EU
                </label>

                {% if form.region.errors %}
                <div class="help-block">
                    {{ form.region.errors|join:"" }}
                </div>
                {% endif %}
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary">保存集成</button>
            </div>
        </div>
    </form>
</div>
</div>
{% endblock %}
